/*1순위가 적용이 안되면 2순위 폰트가 적용됨*/
html, body{
    font-family: "Pretendard";
    font-weight:400; 
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0;
    color: #3d3d3d;
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 줄바꿈 강제로 실행 */
}
#wrap{ /* 홈페이지 전체를 감싸는 요소 - 가로 스크롤바가 생겼을때 짤리는 현상 막음, #=id */
    min-width: 1260px;
    /*overflow: hidden;*/
}
.wrapper {/* 홈페이지 넓이 제한, 가운데 정렬 */
    /* width: 1300px; /* 좌우 양사이드 20px의 여백을 줄꺼라 1260+20*
    padding: 0 20px; 좌우 여백 -> 화면 사이즈 줄일때 가로스크롤바 생기는데 그때도 여백 20을 줌으로써 답답함 없앰 */
    width: 1400px;
    margin: 0px auto; /* 가운데 정렬 */
}
/* 1260px 나의 wrapper의 넓이에 좌우 여백 20px씩 추가한 사이즈 부터 반응형 */

@media screen and (max-width: 1300px){
    #wrap { 
        min-width: 100%;/* 브라우저 넓이에 꽉차게 */
    }
    .wrapper {
        margin: 0 20px; /* 넓이는 1260 유지, 좌우에 20px 여백 */
        width: auto;
    }
}
@media screen and (max-width: 1024px){
    html, body{
        font-size: 13px;
    } 
}
@media screen and (max-width: 768px){
    html, body{
        font-size: 13px;
    } 
}
