.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; 
    width: 100%;
    z-index: 9999999999999999999999999999999999;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3D3D3D;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.skip_nav a:focus {
    top: 100px;
}
@media screen and (min-width: 1025px){ 
    header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100px;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        font-size: var(--txt-size-sub);
        padding: 0 0 0 2%;
        align-items: center;
    }
    header .logo a {
        display: block;
        width: 164px;
        height: 57px;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .logo a::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../images/main/logo_w.png");
        content: ""
    }
    header .gnb {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap .depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap .depth1 > li {
        width: 185px;
        position: relative;
    }
    header .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
    }
    header .gnb .gnb_wrap .depth1 > li.on > a {
        font-weight: 600;
    }
    header .gnb .gnb_wrap .depth1 > li.on > a span {
        position: relative; 
    }
    header .gnb .gnb_wrap .depth1 > li.on > a span::after {
        position: absolute;
        left: 0;
        bottom: -38px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        content: "";
    }
    header .gnb .depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: 63px;
        width: 100%;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.4);
        padding-top: 18px;
    }
    header.menu_over .gnb .depth2 {
        display: block;
    }
    header .gnb .depth2 > li > a {
        display: block;
        line-height: 20px;
        text-align: center;
        line-height: 2;
    }
    header .gnb .depth2 > li > a span {
        position: relative;
    }
    header .gnb .depth2 > li > a span:hover::before {
        display: block;
        position: absolute;
        right: -24px;
        top: 0;
        width: 20px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.75' cy='11.25' r='3.25' stroke='white' stroke-opacity='0.4'/%3E%3Ccircle cx='13.75' cy='6.25' r='5.75' stroke='white' stroke-opacity='0.8'/%3E%3Ccircle cx='14.375' cy='3.125' r='0.625' fill='white'/%3E%3Ccircle cx='16.25' cy='5' r='1.25' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .depth2 > li > a span:hover {
        color: #fff;
        letter-spacing: 0.5px;
    }
    header.menu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 350px;
        background-color: transparent;
        backdrop-filter: blur(20px);
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
        z-index: -1;
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        content: "";
    }
}
@media screen and (max-width: 1300px) and  (min-width: 1025px){ /*max이상, min이하*/
    header .logo a {
        display: block;
        width: 118px;
        height: 41px;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .gnb .gnb_wrap .depth1 > li {
        width: 150px;
        position: relative;
    }
}
@media screen and (max-width: 1024px){
    header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        color: #fff;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        padding: 0 1% 0 3%;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(20px);
    }
    header .logo a {
        display: block;
        width: 80px;
        height: 28px;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .logo a::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../images/main/logo_w.png");
        content: "";
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .gnb .gnb_open {
        font-size: 0;
        line-height: 0;
        position: relative;
        width: 60px;
        height: 50px;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_335_2114' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_335_2114)'%3E%3Cpath d='M16.3037 11.9616L12.077 7.73456L16.3037 3.50781L20.5307 7.73456L16.3037 11.9616ZM4.61523 10.6156V4.61531H10.6155V10.6156H4.61523ZM13.3845 19.3848V13.3846H19.3847V19.3848H13.3845ZM4.61523 19.3848V13.3846H10.6155V19.3848H4.61523ZM5.61548 9.61556H9.61548V5.61556H5.61548V9.61556ZM16.3287 10.5846L19.1537 7.75956L16.3287 4.93456L13.5037 7.75956L16.3287 10.5846ZM14.3845 18.3846H18.3845V14.3846H14.3845V18.3846ZM5.61548 18.3846H9.61548V14.3846H5.61548V18.3846Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_close {
        font-size: 0;
        line-height: 0;
        position: relative;
        width: 60px;
        height: 50px;
        display: none;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_335_2453' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_335_2453)'%3E%3Cpath d='M8.4 16.3077L12 12.7078L15.6 16.3077L16.3077 15.6L12.7078 12L16.3077 8.4L15.6 7.69225L12 11.2923L8.4 7.69225L7.69225 8.4L11.2923 12L7.69225 15.6L8.4 16.3077ZM12.0033 21C10.7587 21 9.58867 20.7638 8.493 20.2915C7.3975 19.8192 6.4445 19.1782 5.634 18.3685C4.8235 17.5588 4.18192 16.6067 3.70925 15.512C3.23642 14.4175 3 13.2479 3 12.0033C3 10.7587 3.23617 9.58867 3.7085 8.493C4.18083 7.3975 4.82183 6.4445 5.6315 5.634C6.44117 4.8235 7.39333 4.18192 8.488 3.70925C9.5825 3.23642 10.7521 3 11.9967 3C13.2413 3 14.4113 3.23617 15.507 3.7085C16.6025 4.18083 17.5555 4.82183 18.366 5.6315C19.1765 6.44117 19.8181 7.39333 20.2908 8.488C20.7636 9.5825 21 10.7521 21 11.9967C21 13.2413 20.7638 14.4113 20.2915 15.507C19.8192 16.6025 19.1782 17.5555 18.3685 18.366C17.5588 19.1765 16.6067 19.8181 15.512 20.2908C14.4175 20.7636 13.2479 21 12.0033 21ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .gnb .gnb_wrap {
        display: none;
        position: absolute; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; 
        background-color: #3B63A1;
    }
    header.menu_open .gnb .gnb_wrap .depth1 {
        margin-top: 50px;
        height: calc(100% - 50px);
        overflow-y: auto;
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        padding: 20px;
        white-space: nowrap;
        font-size: 1.538rem;
        font-weight: bold;
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li > a  {
        position: relative;
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li > a::after {
        position: absolute;
        right: 22px;
        top: 13px;
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_335_2470' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect y='24' width='24' height='24' transform='rotate(-90 0 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_335_2470)'%3E%3Cpath d='M21.3069 14.0008L11.9992 23.3086L2.69141 14.0008L3.75491 12.9373L11.9992 21.1816L20.2434 12.9373L21.3069 14.0008Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li > a::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid rgba(225, 255, 255, 0.4);
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li.open > a > span::after {
        transform: rotate(180deg);
    }
    header.menu_open .gnb .gnb_wrap .depth2 {
        margin: 20px 25px 30px 25px;
        color: rgba(255, 255, 255, 0.6);
        display: none;
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li.open > .depth2 {
        display: block;
    }
    header.menu_open .gnb .gnb_wrap .depth2 > li > a {
        display: block;
        font-size: 1.385rem;
        line-height: 20px;
        padding: 10px;
    }
    header.menu_open .gnb .gnb_wrap .depth2 > li > a:hover {
        color: #fff;
        font-weight: 600;
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }

}
footer {
    background-color: #2d2d2d;
    padding: 40px 0 85px 0;
}
footer .wrapper {
    display: flex;
    position: relative;
    z-index: 10;
}
footer .familly_site {
    position: absolute;
    right: 0;
    top: -16px;
    height: auto;
    width: 157px;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.4);
}
footer .familly_site button {
    padding: 16px 40px 16px 16px;
    background-color: #2d2d2d;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
footer .familly_site button::before {
    position: absolute;
    right: 12px;
    top: 16px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    opacity: 0.5;
}
footer .familly_site button.familly_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_306_3833' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_306_3833)'%3E%3Cpath d='M9.16699 10.8327H4.16699V9.16602H9.16699V4.16602H10.8337V9.16602H15.8337V10.8327H10.8337V15.8327H9.16699V10.8327Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .familly_site button.familly_close::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_306_3836' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_306_3836)'%3E%3Cpath d='M3.33301 10.8327V9.16602H16.6663V10.8327H3.33301Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .familly_site.on button.familly_open {
    display: none;
}
footer .familly_site button.familly_close {
    display: none;
}
footer .familly_site.on button.familly_close {
    display: block;
}
footer .familly_site ul {
    background-color: #2d2d2d;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 62px;
    display: none;
    width: 100%;
    padding: 20px 0;
}
footer .familly_site ul li {
    line-height: 32px;
}
footer .sns {
    position: absolute;
    right: 0;
    bottom: 0;
}
footer .sns ul {
    display: flex;
}
footer .sns ul li {
    width: 38px;
    height: 32px;
    font-size: 0;
    line-height: 0;
    margin: 0 5px;
}
footer .sns ul li a {
    display: block;
    position: relative;
    width: 38px;
    height: 32px;
}
footer .sns ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .sns ul li.facebook a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='29' viewBox='0 0 14 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6' clip-path='url(%23clip0_306_4151)'%3E%3Cpath d='M3 28.67H8.77V14.21H12.8L13.23 9.37H8.77V6.61C8.77 5.47 9 5.02 10.1 5.02H13.22V0H9.22C4.94 0 3 1.89 3 5.51V9.37H0V14.27H3V28.66V28.67Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_306_4151'%3E%3Crect width='13.23' height='28.67' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.instar a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6' clip-path='url(%23clip0_306_3769)'%3E%3Cpath d='M16 2.88C20.2708 2.88 20.7754 2.89231 22.4615 2.97846C24.0246 3.05231 24.8738 3.31077 25.4277 3.53231C26.1785 3.82769 26.7077 4.17231 27.2615 4.72615C27.8277 5.29231 28.1723 5.82154 28.4554 6.56C28.6769 7.12615 28.9354 7.97538 29.0092 9.52615C29.0831 11.2123 29.1077 11.7169 29.1077 15.9877C29.1077 20.2585 29.0954 20.7631 29.0092 22.4492C28.9354 24.0123 28.6769 24.8615 28.4554 25.4154C28.16 26.1662 27.8154 26.6954 27.2615 27.2615C26.7077 27.8277 26.1662 28.1723 25.4277 28.4554C24.8615 28.6769 24.0123 28.9354 22.4615 29.0092C20.7754 29.0831 20.2708 29.1077 16 29.1077C11.7292 29.1077 11.2246 29.0954 9.53846 29.0092C7.97538 28.9354 7.12615 28.6769 6.57231 28.4554C5.82154 28.16 5.29231 27.8154 4.72615 27.2615C4.17231 26.6954 3.81538 26.1662 3.53231 25.4154C3.31077 24.8492 3.05231 24 2.97846 22.4492C2.90462 20.7631 2.88 20.2585 2.88 15.9877C2.88 11.7169 2.89231 11.2123 2.97846 9.52615C3.05231 7.96308 3.31077 7.11385 3.53231 6.56C3.82769 5.80923 4.17231 5.28 4.72615 4.72615C5.29231 4.16 5.82154 3.81538 6.57231 3.53231C7.13846 3.31077 7.98769 3.05231 9.53846 2.97846C11.2246 2.90462 11.7292 2.88 16 2.88ZM16 0C11.6554 0 11.1138 0.0246154 9.40308 0.0984615C7.70462 0.172308 6.53538 0.443077 5.51385 0.836923C4.45538 1.24308 3.56923 1.79692 2.68308 2.68308C1.79692 3.56923 1.24308 4.46769 0.836923 5.51385C0.443077 6.53538 0.172308 7.69231 0.0984615 9.40308C0.0246154 11.1138 0 11.6554 0 16C0 20.3446 0.0123077 20.8862 0.0984615 22.5969C0.172308 24.2954 0.443077 25.4646 0.836923 26.4862C1.24308 27.5323 1.79692 28.4308 2.68308 29.3169C3.56923 30.2031 4.46769 30.7569 5.51385 31.1631C6.53538 31.5569 7.69231 31.8277 9.40308 31.9015C11.1138 31.9754 11.6554 32 16 32C20.3446 32 20.8862 31.9877 22.5969 31.9015C24.2954 31.8277 25.4646 31.5569 26.4862 31.1631C27.5446 30.7569 28.4308 30.2031 29.3169 29.3169C30.2031 28.4308 30.7569 27.5323 31.1631 26.4862C31.5569 25.4646 31.8277 24.3077 31.9015 22.5969C31.9754 20.8862 32 20.3446 32 16C32 11.6554 31.9877 11.1138 31.9015 9.40308C31.8277 7.70462 31.5569 6.53538 31.1631 5.51385C30.7569 4.46769 30.2031 3.56923 29.3169 2.68308C28.4308 1.79692 27.5323 1.24308 26.4862 0.836923C25.4646 0.443077 24.3077 0.172308 22.5969 0.0984615C20.8862 0.0246154 20.3446 0 16 0Z' fill='white'/%3E%3Cpath d='M15.9999 7.79102C11.4583 7.79102 7.77832 11.471 7.77832 16.0126C7.77832 20.5541 11.4583 24.2341 15.9999 24.2341C20.5414 24.2341 24.2214 20.5541 24.2214 16.0126C24.2214 11.471 20.5414 7.79102 15.9999 7.79102ZM15.9999 21.3418C13.0583 21.3418 10.6706 18.9541 10.6706 16.0126C10.6706 13.071 13.0583 10.6833 15.9999 10.6833C18.9414 10.6833 21.3291 13.071 21.3291 16.0126C21.3291 18.9541 18.9414 21.3418 15.9999 21.3418Z' fill='white'/%3E%3Cpath d='M26.4611 7.45906C26.4611 8.51752 25.5996 9.37906 24.5411 9.37906C23.4826 9.37906 22.6211 8.51752 22.6211 7.45906C22.6211 6.4006 23.4826 5.53906 24.5411 5.53906C25.5996 5.53906 26.4611 6.4006 26.4611 7.45906Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_306_3769'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.blog a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='30' viewBox='0 0 21 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' d='M0.402344 0.71875H6.16406V11.3438H6.35938C6.3724 11.2786 6.39193 11.2201 6.41797 11.168C6.44401 11.1159 6.47656 11.0638 6.51562 11.0117C6.84115 10.3607 7.2513 9.78125 7.74609 9.27344C8.24089 8.76562 8.8724 8.34896 9.64062 8.02344C10.4219 7.6849 11.3333 7.51562 12.375 7.51562C13.9766 7.51562 15.4284 7.92578 16.7305 8.74609C18.0456 9.56641 19.0872 10.8034 19.8555 12.457C20.6237 14.0977 21.0078 16.0833 21.0078 18.4141C21.0078 20.7188 20.6302 22.6914 19.875 24.332C19.1328 25.9596 18.1042 27.2031 16.7891 28.0625C15.474 28.9089 14.0026 29.332 12.375 29.332C11.3203 29.332 10.4023 29.1628 9.62109 28.8242C8.83984 28.4857 8.19531 28.0625 7.6875 27.5547C7.19271 27.0469 6.78255 26.4674 6.45703 25.8164C6.43099 25.7773 6.41146 25.7448 6.39844 25.7188C6.38542 25.6927 6.3724 25.6602 6.35938 25.6211H6.06641V29H0.402344V0.71875ZM6.04688 18.375C6.04688 19.651 6.22266 20.7643 6.57422 21.7148C6.9388 22.6523 7.45312 23.388 8.11719 23.9219C8.79427 24.4557 9.60807 24.7227 10.5586 24.7227C11.5091 24.7227 12.3229 24.4557 13 23.9219C13.6901 23.388 14.2109 22.6458 14.5625 21.6953C14.9141 20.7448 15.0898 19.638 15.0898 18.375C15.0898 17.125 14.9141 16.0312 14.5625 15.0938C14.224 14.1562 13.7096 13.4336 13.0195 12.9258C12.3424 12.4049 11.5221 12.1445 10.5586 12.1445C9.60807 12.1445 8.79427 12.3984 8.11719 12.9062C7.45312 13.401 6.9388 14.1237 6.57422 15.0742C6.22266 16.0117 6.04688 17.112 6.04688 18.375Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .sns ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='27' viewBox='0 0 38 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6' clip-path='url(%23clip0_306_3763)'%3E%3Cpath d='M37.1994 4.22064C36.7589 2.5647 35.4776 1.25206 33.8359 0.807779C30.8727 0 18.9902 0 18.9902 0C18.9902 0 7.10773 0 4.14461 0.807779C2.51289 1.25206 1.22153 2.5546 0.781067 4.22064C-0.00976568 7.22962 -0.00976562 13.5101 -0.00976562 13.5101C-0.00976562 13.5101 -0.00976568 19.7906 0.781067 22.7996C1.22153 24.4555 2.50288 25.7681 4.14461 26.2124C7.10773 27.0202 18.9902 27.0202 18.9902 27.0202C18.9902 27.0202 30.8727 27.0202 33.8359 26.2124C35.4676 25.7681 36.7589 24.4656 37.1994 22.7996C37.9902 19.7906 37.9902 13.5101 37.9902 13.5101C37.9902 13.5101 37.9902 7.22962 37.1994 4.22064ZM15.1162 19.2049V7.80516L25.0466 13.5L15.1162 19.1948V19.2049Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_306_3763'%3E%3Crect width='38' height='27' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_inner {
    margin: 0 0 0 30px;
    color: rgba(255, 255, 255, 0.4)
}
footer .f_inner .f_info {
    margin-bottom: 40px;
    line-height: 30px;
}
footer .f_inner .f_info span {
    padding-right: 40px;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1420px){
    footer {
        background-color: #2d2d2d;
        padding: 40px 0 80px 0;
    }
    footer .wrapper {
        display: block;
    }
    footer .familly_site {
        position: relative;
        right: auto;
        top: auto;
        height: auto;
        width: auto;
        margin: 20px 0;
    }
    footer .f_logo {
        display: none;
    }
    footer .familly_site button {
        padding: 0 20px;
        width: 100%;
        height: 45px;
        text-align: left;
        position: relative;
    }
    footer .familly_site button::before {
        right: 20px;
        top: 12px;
    }
    footer .familly_site button.familly_close {
        display: none;
    }
    footer .familly_site.on button.familly_close {
        display: block;
    }
    footer .sns {
        position: relative;
        right: auto;
        bottom: auto;
    }
    footer .sns ul {
        justify-content: center;
        margin: 25px 0;
    }
    footer .f_inner {
        margin: 0;
        color: rgba(255, 255, 255, 0.4);
        text-align: center;
    }
    footer .f_inner .f_info span {
        padding-right: 20px;
    }
}
