html, body{
    font-family: 'SDKukdetopokki';
    font-weight: 300; 
    font-size: 18px;
    letter-spacing: 0;
    color: #00249D;
    word-break: keep-all; 
    word-wrap: break-word; 
}
#wrap{ 
    min-width: 1400px;
}
.wrapper {
    width: 1400px;
    height: 100vh;
    margin: 0px auto; 
}
section {
    height: 100vh;
    overflow: hidden;
}
.photo, .photo1, .photo2 {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1300px){
    #wrap { 
        min-width: 100%;
    }
}
@media screen and (max-width: 1024px){
    html, body{
        font-size: 15px;
    } 
    .wrapper {
        margin: 0 20px; 
        width: auto;
    }
}
@media screen and (max-width: 768px){
    html, body{
        font-size: 13px;
    } 
    .wrapper {
        margin: 0 10px; 
        width: auto;
    }
}