.header { 
    position: fixed; 
    right: 0;
    top: 40%;
    text-align: center;
    z-index: 100;
} 
.header ul li {
    width: 215px;
    height: 85px;
    background-color: #00249D;
    border-radius: 30px 0 0 30px;
    border: 3px solid #fff;
    color: #fff;
    line-height: 85px;
    font-size: 30px;
    cursor: pointer;
}
.header ul li.active { 
    background-color: #FFD12D;
    border: 3px solid #00249D;
} 
.tool {
    position: fixed;
    left: 60px;
    top: 100px;
    z-index: 90; 
}
.tool ul {
    width: 115px;
    height: 440px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #00249D;
}
.tool ul li {
    position: relative;
    height: calc(25% - 1px);
    font-size: 0;
    line-height: 0;
}
.tool ul li::before {
    position: absolute;
    left: 37px;
    top: 35px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.tool ul li:nth-child(1):before {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='43' viewBox='0 0 37 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.743428 0.883272L36.108 22.6032L16.8609 28.7995L1.87115 42.3699L0.743428 0.883272Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
}
.tool ul li:nth-child(2):before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='39' viewBox='0 0 40 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.625' width='39' height='39' fill='%2300249D'/%3E%3C/svg%3E%0A");
}
.tool ul li:nth-child(3):before {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='39' viewBox='0 0 42 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.875 2H1.625V9.5M20.875 2H40.125V9.5M20.875 2V37M20.875 37H13.625M20.875 37H28.125' stroke='%2300249D' stroke-width='3'/%3E%3C/svg%3E%0A");
}
.tool ul li:nth-child(4):before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='58' viewBox='0 0 52 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_364_660' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.8328 39.9067C43.9225 36.2652 44.8955 31.3436 40.7755 24.2074C34.5623 13.4458 20.6192 4.32131 13.8753 8.21492C7.13136 12.1085 8.06189 28.7458 14.2751 39.5074C18.3952 46.6436 23.144 48.2617 27.8424 47.4067L28.8801 49.204C30.2608 51.5955 33.3188 52.4149 35.7102 51.0341L40.0403 48.5341C42.4318 47.1534 43.2512 44.0955 41.8705 41.704L40.8328 39.9067Z'/%3E%3C/mask%3E%3Cpath d='M40.8328 39.9067L38.5452 37.9658L37.1783 39.5769L38.2347 41.4067L40.8328 39.9067ZM27.8424 47.4067L30.4405 45.9067L29.3841 44.0769L27.3053 44.4552L27.8424 47.4067ZM38.1774 25.7074C40.0447 28.9418 40.5927 31.3895 40.5107 33.2345C40.4308 35.0339 39.7395 36.5582 38.5452 37.9658L43.1204 41.8476C45.0157 39.6137 46.3558 36.8565 46.5048 33.5007C46.6518 30.1904 45.6263 26.6092 43.3736 22.7074L38.1774 25.7074ZM15.3753 10.813C16.2112 10.3304 17.5282 10.1084 19.4548 10.4982C21.3644 10.8846 23.6022 11.8254 25.9529 13.2709C30.6665 16.1696 35.3386 20.7904 38.1774 25.7074L43.3736 22.7074C39.9992 16.8629 34.5931 11.5406 29.0959 8.16001C26.3412 6.46596 23.4404 5.18306 20.6448 4.61738C17.8662 4.05515 14.9113 4.15266 12.3753 5.61685L15.3753 10.813ZM16.8732 38.0074C14.0343 33.0904 12.3686 26.7339 12.2151 21.2024C12.1385 18.4439 12.4427 16.0355 13.0629 14.1886C13.6886 12.3252 14.5394 11.2956 15.3753 10.813L12.3753 5.61685C9.83924 7.08103 8.27736 9.59126 7.37497 12.2787C6.46704 14.9827 6.12769 18.1362 6.21742 21.3689C6.39648 27.8199 8.30266 35.1629 11.677 41.0074L16.8732 38.0074ZM27.3053 44.4552C25.4892 44.7857 23.8234 44.6222 22.2251 43.7917C20.5864 42.9402 18.7405 41.2418 16.8732 38.0074L11.677 41.0074C13.9297 44.9092 16.5183 47.588 19.4586 49.1158C22.4393 50.6646 25.4972 50.8827 28.3795 50.3582L27.3053 44.4552ZM31.4782 47.704L30.4405 45.9067L25.2443 48.9067L26.282 50.704L31.4782 47.704ZM34.2102 48.4361C33.2536 48.9883 32.0305 48.6606 31.4782 47.704L26.282 50.704C28.4912 54.5304 33.3839 55.8414 37.2102 53.6322L34.2102 48.4361ZM38.5403 45.9361L34.2102 48.4361L37.2102 53.6322L41.5403 51.1322L38.5403 45.9361ZM39.2724 43.204C39.8247 44.1606 39.4969 45.3838 38.5403 45.9361L41.5403 51.1322C45.3667 48.9231 46.6777 44.0304 44.4686 40.204L39.2724 43.204ZM38.2347 41.4067L39.2724 43.204L44.4686 40.204L43.4309 38.4067L38.2347 41.4067Z' fill='%2300249D' mask='url(%23path-1-inside-1_364_660)'/%3E%3Ccircle cx='26.0248' cy='29.2605' r='2.9' transform='rotate(-30 26.0248 29.2605)' stroke='%2300249D' stroke-width='2'/%3E%3Cpath d='M14.5469 8.98145L24.7469 26.6484' stroke='%2300249D' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.tool .connect {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.tool .connect .c_list {
    width: 350px;
    height: 115px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #00249D;
    padding: 30px 40px;
    margin-left: 15px;
    display: none;
    transition: 0.5s;
}
.tool .connect .c_list span {
    display: block;
    font-size: 20px;
    line-height: 30px;
}
.tool .connect:hover .c_list {
    display: block;
}
.tool .connect > .c {
    display: block;
    position: relative;
    width: 115px;
    height: 115px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #00249D;
    font-size: 0;
    line-height: 0;
    transition: 0.5s;
}
.tool .connect > .c::before {
    position: absolute;
    left: 37px;
    top: 35px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='42' viewBox='0 0 38 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.5049 -4.76837e-07C36.1049 -4.76837e-07 36.5882 0.316666 36.9549 0.949999C37.3216 1.58333 37.5049 2.43333 37.5049 3.5C37.5049 4.56667 37.3216 5.41667 36.9549 6.05C36.5882 6.68333 36.1049 7 35.5049 7H28.5049C26.5716 7 24.8049 7.23333 23.2049 7.7C21.6049 8.16667 20.2382 8.93333 19.1049 10C17.9716 11.0667 17.0882 12.4667 16.4549 14.2C15.8216 15.9333 15.5049 18.0667 15.5049 20.6C15.5049 23.1333 15.8216 25.2833 16.4549 27.05C17.0882 28.7833 17.9716 30.1833 19.1049 31.25C20.2382 32.3167 21.6049 33.0833 23.2049 33.55C24.8049 34.0167 26.5716 34.25 28.5049 34.25H35.5049C36.1049 34.25 36.5882 34.5667 36.9549 35.2C37.3216 35.8333 37.5049 36.6833 37.5049 37.75C37.5049 38.8167 37.3216 39.6667 36.9549 40.3C36.5882 40.9333 36.1049 41.25 35.5049 41.25H26.5049C22.5716 41.25 19.0049 40.9 15.8049 40.2C12.6049 39.5 9.87155 38.3333 7.60488 36.7C5.33822 35.0667 3.58822 32.9333 2.35488 30.3C1.12155 27.6667 0.504883 24.4333 0.504883 20.6C0.504883 16.7667 1.12155 13.5333 2.35488 10.9C3.58822 8.26667 5.33822 6.15 7.60488 4.55C9.87155 2.91667 12.6049 1.75 15.8049 1.05C19.0049 0.349999 22.5716 -4.76837e-07 26.5049 -4.76837e-07H35.5049Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.tool .connect > .c:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='42' viewBox='0 0 38 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.5049 -4.76837e-07C36.1049 -4.76837e-07 36.5882 0.316666 36.9549 0.949999C37.3216 1.58333 37.5049 2.43333 37.5049 3.5C37.5049 4.56667 37.3216 5.41667 36.9549 6.05C36.5882 6.68333 36.1049 7 35.5049 7H28.5049C26.5716 7 24.8049 7.23333 23.2049 7.7C21.6049 8.16667 20.2382 8.93333 19.1049 10C17.9716 11.0667 17.0882 12.4667 16.4549 14.2C15.8216 15.9333 15.5049 18.0667 15.5049 20.6C15.5049 23.1333 15.8216 25.2833 16.4549 27.05C17.0882 28.7833 17.9716 30.1833 19.1049 31.25C20.2382 32.3167 21.6049 33.0833 23.2049 33.55C24.8049 34.0167 26.5716 34.25 28.5049 34.25H35.5049C36.1049 34.25 36.5882 34.5667 36.9549 35.2C37.3216 35.8333 37.5049 36.6833 37.5049 37.75C37.5049 38.8167 37.3216 39.6667 36.9549 40.3C36.5882 40.9333 36.1049 41.25 35.5049 41.25H26.5049C22.5716 41.25 19.0049 40.9 15.8049 40.2C12.6049 39.5 9.87155 38.3333 7.60488 36.7C5.33822 35.0667 3.58822 32.9333 2.35488 30.3C1.12155 27.6667 0.504883 24.4333 0.504883 20.6C0.504883 16.7667 1.12155 13.5333 2.35488 10.9C3.58822 8.26667 5.33822 6.15 7.60488 4.55C9.87155 2.91667 12.6049 1.75 15.8049 1.05C19.0049 0.349999 22.5716 -4.76837e-07 26.5049 -4.76837e-07H35.5049Z' fill='%23FFD12D'/%3E%3C/svg%3E%0A");
}
.tool .connect > .c:hover {
    background-color: #00249D;
}
.cursor { 
	position: absolute;  
	z-index: 1000;
	transform: translate(10%, 10%); 
	display:none; 
    background-color: transparent;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #00249D;
    background-color: #fff;
    border: 1px solid #00249D;
    border-radius: 50%;
    font-weight: 700;
}
.cursor.on {
	display: block;
}