@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.main {
    position: relative;
    background-color: #EDF3FF;
}
.main h1 {
    font-size: 0;
    line-height: 0;
}
.main .wrapper .box {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.main .artboard1 {
    position: relative;
    top: 165px;
    width: 1090px;
    height: 615px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #00249D;
    z-index: 2;
}
.main .artboard1::before {
    position: absolute;
    left: 70px;
    bottom: 110px;
    width: 937px;
    height: 325px;
    background-position: center center;
    background: url(../images/main_txt.png);
    content: "";
}
.main .artboard1 span,
.main .artboard2 span {
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 30px 30px 80px;
    border-bottom: 1px solid #00249D;
}
.main .artboard1 span::before {
    position: absolute;
    left: 35px;
    top: 26px;
    width: 34px;
    height: 34px;
    background-color: #FFD12D;
    border: 1px solid #00249D;
    content: "";
}
.main .artboard2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 1090px;
    height: 615px;
    border-radius: 30px;
    background-color: #A9B8EB;
    border: 1px solid #00249D;
}
.main .artboard2 span::before {
    position: absolute;
    left: 35px;
    top: 26px;
    width: 34px;
    height: 34px;
    background-color: #B9D0FF;
    border: 1px solid #00249D;
    content: "";
}
.profile {
    background-color: #EDF3FF;
}
.profile h1 {
    font-size: 0;
    line-height: 0;
}
.profile .p_box {
    position: relative;
    left: 0;
    top: 0;
    height: 1090px;
}
.profile .education,
.profile .work,
.profile .photoimg,
.profile .certificate,
.profile .coding,
.profile .design {
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #00249D;
    transition: 0.5s;
}
.profile .education strong,
.profile .work strong,
.profile .photoimg strong,
.profile .certificate strong,
.profile .coding strong,
.profile .design strong {
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 85px;
    border-bottom: 1px solid #00249D;
    padding: 0 40px 0 85px;
} 
.profile .education strong::before,
.profile .work strong::before,
.profile .photoimg strong::before,
.profile .certificate strong::before,
.profile .coding strong::before,
.profile .design strong::before {
    position: absolute;
    left: 30px;
    top: 23px;
    width: 34px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.profile .education strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='36' viewBox='0 0 33 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 34C11.8618 29.8747 5.13824 29.8747 1 34V4.09396C5.13824 -0.0313188 11.8618 -0.0313188 16 4.09396V34Z' fill='%23FFD12D'/%3E%3Cpath d='M32 34C27.8618 29.8747 21.1382 29.8747 17 34V4.09396C21.1382 -0.0313188 27.8618 -0.0313188 32 4.09396V34Z' fill='%23FFD12D'/%3E%3Cpath d='M16 34C11.8618 29.8747 5.13824 29.8747 1 34V4.09396C5.13824 -0.0313188 11.8618 -0.0313188 16 4.09396V34Z' stroke='%2300249D' stroke-miterlimit='10'/%3E%3Cpath d='M32 34C27.8618 29.8747 21.1382 29.8747 17 34V4.09396C21.1382 -0.0313188 27.8618 -0.0313188 32 4.09396V34Z' stroke='%2300249D' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
}
.profile .work strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_364_747' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 0C21.6944 0 25.5 3.80558 25.5 8.5C30.1944 8.5 34 12.3056 34 17C34 21.6944 30.1944 25.5 25.5 25.5C25.5 30.1944 21.6944 34 17 34C12.3056 34 8.5 30.1944 8.5 25.5C3.80558 25.5 0 21.6944 0 17C0 12.3056 3.80558 8.5 8.5 8.5C8.5 3.80558 12.3056 0 17 0Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 0C21.6944 0 25.5 3.80558 25.5 8.5C30.1944 8.5 34 12.3056 34 17C34 21.6944 30.1944 25.5 25.5 25.5C25.5 30.1944 21.6944 34 17 34C12.3056 34 8.5 30.1944 8.5 25.5C3.80558 25.5 0 21.6944 0 17C0 12.3056 3.80558 8.5 8.5 8.5C8.5 3.80558 12.3056 0 17 0Z' fill='%23FFD12D'/%3E%3Cpath d='M25.5 8.5H24.5V9.5H25.5V8.5ZM25.5 25.5V24.5H24.5V25.5H25.5ZM8.5 25.5H9.5V24.5H8.5V25.5ZM8.5 8.5V9.5H9.5V8.5H8.5ZM26.5 8.5C26.5 3.25329 22.2467 -1 17 -1V1C21.1421 1 24.5 4.35786 24.5 8.5H26.5ZM35 17C35 11.7533 30.7467 7.5 25.5 7.5V9.5C29.6421 9.5 33 12.8579 33 17H35ZM25.5 26.5C30.7467 26.5 35 22.2467 35 17H33C33 21.1421 29.6421 24.5 25.5 24.5V26.5ZM17 35C22.2467 35 26.5 30.7467 26.5 25.5H24.5C24.5 29.6421 21.1421 33 17 33V35ZM7.5 25.5C7.5 30.7467 11.7533 35 17 35V33C12.8579 33 9.5 29.6421 9.5 25.5H7.5ZM-1 17C-1 22.2467 3.25329 26.5 8.5 26.5V24.5C4.35786 24.5 1 21.1421 1 17H-1ZM8.5 7.5C3.25329 7.5 -1 11.7533 -1 17H1C1 12.8579 4.35786 9.5 8.5 9.5V7.5ZM17 -1C11.7533 -1 7.5 3.25329 7.5 8.5H9.5C9.5 4.35786 12.8579 1 17 1V-1Z' fill='%2300249D' mask='url(%23path-1-inside-1_364_747)'/%3E%3C/svg%3E%0A");
}
.profile .photoimg strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='33' height='33' fill='%23FFD12D' stroke='%2300249D'/%3E%3Crect x='4.5' y='4.5' width='25' height='19' fill='white' stroke='%2300249D'/%3E%3C/svg%3E%0A");
}
.profile .certificate strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='43' viewBox='0 0 34 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.69864 10.8985C3.456 8.74617 4.19343 5.99401 6.34575 4.75137L8.14351 3.71344C10.2958 2.47079 13.048 3.20823 14.2906 5.36055L25.126 24.1279L15.534 29.6659L4.69864 10.8985Z' fill='%2300249D' stroke='%2300249D'/%3E%3Cpath d='M26.868 26.8895L26.868 38.23L17.0469 32.5597L26.868 26.8895Z' fill='%23FFD12D' stroke='%2300249D'/%3E%3Cpath d='M27.3698 39.0958L22.9055 35.137L26.1736 33.2501L27.3698 39.0958Z' fill='%2300249D'/%3E%3Cpath d='M13.9174 10.2617C13.7793 10.0226 13.4735 9.94063 13.2344 10.0787C12.9952 10.2168 12.9133 10.5226 13.0514 10.7617L13.9174 10.2617ZM13.0514 10.7617L21.3535 25.1415L22.2196 24.6415L13.9174 10.2617L13.0514 10.7617Z' fill='%23FFD12D'/%3E%3Cpath d='M8.48575 9.91016C8.34768 9.67101 8.04188 9.58907 7.80273 9.72714C7.56359 9.86521 7.48165 10.171 7.61972 10.4102L8.48575 9.91016ZM7.61972 10.4102L17.4314 27.4044L18.2974 26.9044L8.48575 9.91016L7.61972 10.4102Z' fill='%23FFD12D'/%3E%3C/svg%3E%0A");
}
.profile .coding strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='33' height='33' rx='16.5' fill='%23FFD12D' stroke='%2300249D'/%3E%3Cpath d='M10.8315 13.236C11.9595 13.164 12.8475 13.656 13.1595 13.704C13.4355 13.752 13.5915 13.716 13.7475 13.668C14.1915 13.524 14.7075 14.22 14.8035 15.3C14.8515 15.792 14.7915 15.852 14.4075 15.996C14.0715 16.116 13.9875 16.068 13.7595 15.768C13.0515 14.796 11.8515 14.412 10.6875 14.628C9.43947 14.856 8.75547 16.056 8.88747 17.52C9.04347 19.356 10.3155 20.208 12.0675 20.052C13.0515 19.968 13.8075 19.572 14.3475 18.852C14.6595 18.444 15.1395 18.672 14.9835 19.176C14.5035 20.76 13.0515 21.768 11.1795 21.792C8.67147 21.828 6.88347 20.232 6.72747 17.64C6.58347 15.348 8.21547 13.404 10.8315 13.236ZM17.9017 15.71V16.32C17.9017 16.52 17.9717 16.62 18.1817 16.62H19.0017C19.2717 16.62 19.3517 16.67 19.3517 17.14C19.3517 17.58 19.2817 17.65 19.0217 17.65H18.2717C17.9717 17.65 17.9017 17.73 17.9017 18.02V19.61C17.9017 20.33 18.3717 20.59 19.1117 20.07C19.3517 19.9 19.5817 20.09 19.4817 20.35C19.1417 21.23 18.4717 21.7 17.4317 21.56C16.6917 21.46 16.3417 20.94 16.3417 19.81V17.84C16.3417 17.72 16.2617 17.65 16.1417 17.65H15.6717C15.5217 17.65 15.4417 17.56 15.4417 17.23C15.4417 16.94 15.5017 16.8 15.7517 16.72C16.3217 16.53 16.5817 16.32 16.8617 15.75C16.9917 15.49 17.2017 15.41 17.5917 15.41C17.8017 15.41 17.9017 15.51 17.9017 15.71ZM21.9865 16.67V16.88C21.9865 17.12 22.1465 17.13 22.2665 16.96C22.6865 16.38 23.5165 16.17 24.2065 16.5C24.6765 16.73 24.8465 17.21 24.6265 17.62C24.3765 18.08 23.9465 18.13 23.4865 17.83C23.0665 17.55 22.5865 17.58 22.2865 17.84C22.0865 18.02 22.0165 18.3 22.0165 18.67V20.06C22.0165 20.58 22.0765 20.75 22.5065 20.8C22.8165 20.84 22.8265 21.51 22.5165 21.53C22.0865 21.56 20.4965 21.56 20.0565 21.53C19.7465 21.51 19.7565 20.85 20.0665 20.8C20.3565 20.76 20.4465 20.64 20.4465 20.06V18.14C20.4465 17.79 20.3665 17.71 20.1865 17.76C19.9465 17.83 19.7165 17.2 19.9565 17.05C20.3965 16.77 21.0165 16.52 21.5165 16.38C21.7865 16.3 21.9865 16.41 21.9865 16.67ZM26.89 15.8V20.06C26.89 20.58 26.97 20.75 27.32 20.8C27.63 20.84 27.64 21.51 27.33 21.53C26.9 21.56 25.3 21.56 24.86 21.53C24.55 21.51 24.56 20.84 24.87 20.8C25.22 20.75 25.3 20.58 25.3 20.06V16.4C25.3 16.05 25.22 15.97 25.04 16.02C24.8 16.09 24.57 15.46 24.81 15.31C25.29 15 26.07 14.69 26.67 14.59C26.9 14.55 27.15 15 27.02 15.21C26.92 15.37 26.89 15.5 26.89 15.8Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
}
.profile .design strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='33' height='33' rx='4.5' fill='%23FFD12D' stroke='%2300249D'/%3E%3Cpath d='M13.8262 21.168L16.3262 22.6113V19.7246L13.8262 21.168ZM27.2174 21.168L24.7174 19.7246V22.6113L27.2174 21.168ZM16.0762 21.418H24.9674V20.918H16.0762V21.418Z' fill='%2300249D'/%3E%3Cpath d='M20.6582 14.6094L19.2148 17.1094L22.1016 17.1094L20.6582 14.6094ZM20.6582 28.0006L22.1016 25.5006L19.2148 25.5006L20.6582 28.0006ZM20.4082 16.8594L20.4082 25.7506L20.9082 25.7506L20.9082 16.8594L20.4082 16.8594Z' fill='%2300249D'/%3E%3Cpath d='M6.94384 5.43161L19.2231 12.9732L12.5401 15.1246L7.3354 19.8365L6.94384 5.43161Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
}
.profile .education {
    position: absolute;
    left: 0;
    top: 130px;
    width: 1040px;
    height: 265px;
    z-index: 1;
    transition: 0.5s;
}
.profile .education ul,
.profile .work ul,
.profile .certificate ul,
.profile .coding ul,
.profile .design ul {
    padding: 25px 40px;
}
.profile .education ul li,
.profile .work ul li,
.profile .certificate ul li,
.profile .coding ul,
.profile .design ul {
    display: flex;
    line-height: 40px;
}
.profile .education ul li span,
.profile .work ul li span {
    display: block;
    width: 180px;
    font-weight: 700;
}
.profile .work {
    position: absolute;
    left: 150px;
    top: 360px;
    width: 680px;
    height: 220px;
    z-index: 2;
    transition: 0.5s;
}
.profile .photoimg {
    position: absolute;
    right: 0;
    top: 360px;
    width: 460px;
    height: 565px;
    z-index: 2;
    transition: 0.5s;
}
.profile .photoimg .photo {
    padding: 30px 40px;
}
.profile .photoimg .photo img {
    border-radius: 15px;
}
.profile .certificate {
    position: absolute;
    left: 25px;
    bottom: 190px;
    width: 390px;
    height: 340px;
    z-index: 3;
    transition: 0.5s;
}
.profile .certificate ul li span {
    display: block;
    width: 100px;
    font-weight: 700;
}
.profile .coding {
    position: absolute;
    right: 440px;
    bottom: 330px;
    width: 340px;
    height: 200px;
    z-index: 3;
    transition: 0.5s;
}
.profile .coding ul,
.profile .design ul {
    justify-content: center;
}
.profile .coding ul li,
.profile .design ul li {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 25px;
}
.profile .coding ul li:last-child,
.profile .design ul li:last-child {
    margin: 0;
}
.profile .coding ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    transition: 0.5s;
}
.profile .coding ul li:nth-child(1):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M16.1813 12.35V9.72C16.1813 8.71 16.1013 8.56 15.5213 8.46C15.2813 8.42 15.2713 7.73 15.5513 7.7C16.1713 7.62 17.7513 7.63 18.3613 7.7C18.6413 7.73 18.6413 8.39 18.3913 8.44C17.8413 8.55 17.7813 8.6 17.7813 9.57C17.7813 10.25 17.8113 10.31 18.1813 10.34C18.7713 10.39 19.5413 10.38 20.1313 10.34C20.5013 10.31 20.5313 10.25 20.5313 9.57C20.5313 8.6 20.4713 8.55 19.9213 8.44C19.6813 8.39 19.6713 7.73 19.9513 7.7C20.5613 7.63 22.1313 7.62 22.7513 7.7C23.0413 7.73 23.0313 8.42 22.7813 8.46C22.2013 8.56 22.1213 8.71 22.1213 9.72V12.35C22.1213 13.36 22.2913 13.54 22.8813 13.64C23.1213 13.68 23.1313 14.49 22.8513 14.52C22.2313 14.6 20.5613 14.59 19.9513 14.52C19.6713 14.49 19.6813 13.7 19.9213 13.65C20.4413 13.55 20.5313 13.42 20.5313 12.35V12C20.5313 11.55 20.4113 11.47 20.1313 11.45C19.5413 11.4 18.7713 11.4 18.1813 11.46C17.9013 11.49 17.7813 11.55 17.7813 12V12.35C17.7813 13.42 17.8713 13.55 18.3913 13.65C18.6413 13.7 18.6413 14.49 18.3613 14.52C17.7513 14.59 16.0713 14.6 15.4513 14.52C15.1713 14.49 15.1813 13.68 15.4213 13.64C16.0113 13.54 16.1813 13.36 16.1813 12.35ZM25.8102 7.76H27.7102C28.7302 7.76 28.9802 7.74 29.4102 7.59C29.7802 7.46 30.2102 8.06 30.2902 9.09C30.3202 9.5 30.3102 9.57 29.9902 9.69C29.7102 9.79 29.6302 9.71 29.4502 9.45C29.1202 8.97 28.9102 8.84 28.5502 8.8C28.4002 8.79 28.1102 8.8 27.9502 8.82C27.6402 8.86 27.5902 8.97 27.5902 9.44V12.4C27.5902 13.41 27.7502 13.51 28.4202 13.62C28.6702 13.66 28.6802 14.49 28.3902 14.52C27.7902 14.59 25.7302 14.6 25.1102 14.52C24.8302 14.49 24.8402 13.66 25.0802 13.62C25.7602 13.52 25.9202 13.41 25.9202 12.4V9.44C25.9202 8.97 25.8702 8.86 25.5502 8.82C25.4002 8.8 25.1002 8.79 24.9402 8.8C24.5902 8.83 24.3802 8.98 24.0502 9.45C23.8702 9.71 23.7902 9.79 23.5002 9.69C23.1902 9.57 23.1802 9.5 23.2102 9.09C23.2902 8.06 23.7202 7.46 24.0902 7.59C24.5102 7.74 24.7902 7.76 25.8102 7.76ZM30.7535 7.65C31.4835 7.53 32.3235 7.57 33.0635 7.64C33.4935 7.68 33.6235 7.8 33.7535 8.2C33.9935 8.95 34.6635 10.8 34.8935 11.41C35.0135 11.73 35.0735 11.73 35.2135 11.38C35.5735 10.49 36.1135 9.06 36.3935 8.2C36.5235 7.79 36.6535 7.68 37.0835 7.64C37.5035 7.6 38.6035 7.59 39.0035 7.65C39.2535 7.69 39.2735 8.41 39.0335 8.48C38.5635 8.62 38.4535 8.8 38.4435 9.09C38.4035 10.51 38.4435 12.15 38.4635 12.97C38.4735 13.48 38.5935 13.64 38.9835 13.7C39.2235 13.74 39.2335 14.5 38.9535 14.53C38.3935 14.6 36.9935 14.6 36.3835 14.53C36.0935 14.5 36.1035 13.74 36.3535 13.7C36.7135 13.64 36.8335 13.51 36.8435 12.97C36.8535 12.53 36.8735 11.4 36.8535 10.58C36.8435 10.34 36.7235 10.33 36.6535 10.52C36.3435 11.38 35.7035 12.89 35.2835 13.81C35.0535 14.31 34.9535 14.33 34.7135 14.33C34.5135 14.33 34.4235 14.26 34.2235 13.77C33.8135 12.78 33.1735 11.33 32.8035 10.29C32.7135 10.06 32.5835 10.09 32.5735 10.33C32.5435 10.93 32.5435 12.1 32.5635 12.94C32.5735 13.52 32.6635 13.6 33.0435 13.68C33.2735 13.72 33.2835 14.47 33.0135 14.51C32.4535 14.59 31.3835 14.6 30.7735 14.53C30.4935 14.5 30.5035 13.74 30.7435 13.7C31.1335 13.64 31.2835 13.48 31.2935 12.97C31.3135 12.15 31.3535 10.51 31.3135 9.09C31.3035 8.8 31.1935 8.62 30.7235 8.48C30.4835 8.41 30.5035 7.69 30.7535 7.65ZM42.1686 9.35V12.74C42.1686 13.32 42.2486 13.45 42.8286 13.48C43.1686 13.5 43.6586 13.5 43.9886 13.47C44.5186 13.43 44.6886 13.12 44.8986 12.81C45.0786 12.56 45.1586 12.5 45.4386 12.61C45.7586 12.73 45.7886 12.79 45.7586 13.21C45.6786 14.24 45.2486 14.81 44.8786 14.69C44.4586 14.54 44.1386 14.54 43.1186 14.54H39.8086C39.4586 14.54 39.4086 13.66 39.7386 13.59C40.1986 13.49 40.4286 13.31 40.4486 12.58C40.4786 11.41 40.4886 10.61 40.4486 9.35C40.4286 8.74 40.2986 8.51 39.8686 8.43C39.5686 8.38 39.5786 7.71 39.8986 7.67C40.6786 7.57 41.9286 7.57 42.6986 7.66C43.0986 7.71 43.0686 8.4 42.7186 8.46C42.2986 8.53 42.1686 8.64 42.1686 9.35Z' fill='%2300249D'/%3E%3Cpath d='M13 19H47L44.45 47.5L30 55L15.55 47.5L13 19Z' fill='%2300249D'/%3E%3Cpath d='M44.45 47.5L47 19H30V55L44.45 47.5Z' fill='%23536FCC'/%3E%3Cpath d='M40 27H21V34.1064H38.7609L37.7609 42.3191L30.087 47L22 42.3191L21 38.6383' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
}
.profile .coding ul li:nth-child(2):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M22.8101 7.53C23.7501 7.47 24.4901 7.88 24.7501 7.92C24.9801 7.96 25.1101 7.93 25.2401 7.89C25.6101 7.77 26.0401 8.35 26.1201 9.25C26.1601 9.66 26.1101 9.71 25.7901 9.83C25.5101 9.93 25.4401 9.89 25.2501 9.64C24.6601 8.83 23.6601 8.51 22.6901 8.69C21.6501 8.88 21.0801 9.88 21.1901 11.1C21.3201 12.63 22.3801 13.34 23.8401 13.21C24.6601 13.14 25.2901 12.81 25.7401 12.21C26.0001 11.87 26.4001 12.06 26.2701 12.48C25.8701 13.8 24.6601 14.64 23.1001 14.66C21.0101 14.69 19.5201 13.36 19.3901 11.2C19.2701 9.29 20.6301 7.67 22.8101 7.53ZM26.8543 9.61C26.8543 8.5 27.6143 7.8 28.9843 7.55C29.6543 7.43 30.3043 7.48 30.8343 7.72C31.2243 7.89 31.4543 7.91 31.8343 7.81C32.2043 7.71 32.6343 8.3 32.7143 9.2C32.7543 9.61 32.7043 9.66 32.3843 9.78C32.1043 9.88 32.0343 9.84 31.8443 9.59C31.3443 8.9 30.6843 8.56 29.9043 8.56C29.1643 8.56 28.7943 8.88 28.7943 9.39C28.7943 9.88 29.1643 10.22 30.0643 10.36C31.9743 10.66 32.9743 11.37 33.0143 12.66C33.0643 14.34 31.0943 14.95 29.5643 14.52C29.1343 14.4 28.7843 14.41 28.3343 14.56C27.8343 14.73 27.6243 14.68 27.4143 14.43C27.0543 14.01 26.7343 13.42 26.6143 12.84C26.5343 12.46 27.2043 12.15 27.4343 12.45C27.8743 13.01 28.2843 13.3 28.9943 13.42C30.2743 13.64 31.0343 13.39 30.9843 12.72C30.9443 12.23 30.6543 11.99 29.6243 11.83C27.7243 11.52 26.8543 10.76 26.8543 9.61ZM33.5535 9.61C33.5535 8.5 34.3135 7.8 35.6835 7.55C36.3535 7.43 37.0035 7.48 37.5335 7.72C37.9235 7.89 38.1535 7.91 38.5335 7.81C38.9035 7.71 39.3335 8.3 39.4135 9.2C39.4535 9.61 39.4035 9.66 39.0835 9.78C38.8035 9.88 38.7335 9.84 38.5435 9.59C38.0435 8.9 37.3835 8.56 36.6035 8.56C35.8635 8.56 35.4935 8.88 35.4935 9.39C35.4935 9.88 35.8635 10.22 36.7635 10.36C38.6735 10.66 39.6735 11.37 39.7135 12.66C39.7635 14.34 37.7935 14.95 36.2635 14.52C35.8335 14.4 35.4835 14.41 35.0335 14.56C34.5335 14.73 34.3235 14.68 34.1135 14.43C33.7535 14.01 33.4335 13.42 33.3135 12.84C33.2335 12.46 33.9035 12.15 34.1335 12.45C34.5735 13.01 34.9835 13.3 35.6935 13.42C36.9735 13.64 37.7335 13.39 37.6835 12.72C37.6435 12.23 37.3535 11.99 36.3235 11.83C34.4235 11.52 33.5535 10.76 33.5535 9.61Z' fill='%2300249D'/%3E%3Cpath d='M13 19H47L44.45 47.5L30 55L15.55 47.5L13 19Z' fill='%2300249D'/%3E%3Cpath d='M44.45 47.5L47 19H30V55L44.45 47.5Z' fill='%23536FCC'/%3E%3Cpath d='M20 27H40L20 34.1064H38.7609L37.7609 42.3191L30.087 47L22 42.3191L21 38.6383' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
}
.profile .coding ul li:nth-child(3):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M25.0354 7.67C25.9554 7.55 26.9054 7.55 27.8554 7.67C28.1754 7.71 28.1854 8.48 27.8854 8.53C27.4554 8.61 27.3254 8.73 27.3054 9.31C27.2754 10.27 27.2854 12.48 27.2754 13.73C27.2654 15.2 26.3554 15.97 24.5954 16.01C24.2754 16.02 24.2254 15.58 24.5254 15.47C25.2754 15.2 25.5554 14.8 25.5754 13.89C25.5954 13.02 25.6254 10.27 25.5854 9.31C25.5654 8.73 25.4354 8.61 25.0054 8.53C24.7054 8.48 24.7154 7.71 25.0354 7.67ZM28.3582 9.61C28.3582 8.5 29.1182 7.8 30.4882 7.55C31.1582 7.43 31.8082 7.48 32.3382 7.72C32.7282 7.89 32.9582 7.91 33.3382 7.81C33.7082 7.71 34.1382 8.3 34.2182 9.2C34.2582 9.61 34.2082 9.66 33.8882 9.78C33.6082 9.88 33.5382 9.84 33.3482 9.59C32.8482 8.9 32.1882 8.56 31.4082 8.56C30.6682 8.56 30.2982 8.88 30.2982 9.39C30.2982 9.88 30.6682 10.22 31.5682 10.36C33.4782 10.66 34.4782 11.37 34.5182 12.66C34.5682 14.34 32.5982 14.95 31.0682 14.52C30.6382 14.4 30.2882 14.41 29.8382 14.56C29.3382 14.73 29.1282 14.68 28.9182 14.43C28.5582 14.01 28.2382 13.42 28.1182 12.84C28.0382 12.46 28.7082 12.15 28.9382 12.45C29.3782 13.01 29.7882 13.3 30.4982 13.42C31.7782 13.64 32.5382 13.39 32.4882 12.72C32.4482 12.23 32.1582 11.99 31.1282 11.83C29.2282 11.52 28.3582 10.76 28.3582 9.61Z' fill='%2300249D'/%3E%3Cpath d='M13 19H47L44.45 47.5L30 55L15.55 47.5L13 19Z' fill='%2300249D'/%3E%3Cpath d='M44.45 47.5L47 19H30V55L44.45 47.5Z' fill='%23536FCC'/%3E%3Cpath d='M26.372 26V46.256L21.7163 44.3961L21 38.4444M42 26.372L33.5744 27.1159V36.0435L40.2093 35.2995L40.0397 43.4831L32.8581 47' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
}
.profile .design {
    position: absolute;
    left: 360px;
    bottom: 140px;
    width: 410px;
    height: 200px;
    font-size: 0;
    line-height: 0;
    z-index: 4;
    transition: 0.5s;
}
.profile .design ul li {
    position: relative;
}
.profile .design ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    transition: 0.5s;
}
.profile .design ul li:nth-child(1):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M22.5033 31.13H26.2233C27.1233 31.13 27.2733 30.92 26.9733 29.93C26.4933 28.37 25.7133 26.18 24.8733 24.53C24.5433 23.9 24.0933 23.99 23.9133 24.56C23.4633 25.94 22.4133 28.64 21.9033 30.05C21.6633 30.74 21.9633 31.13 22.5033 31.13ZM24.0633 18.62C26.6433 18.62 28.2033 19.7 29.5233 23.09C31.1433 27.26 32.9733 32 34.1133 34.4C34.9833 36.26 35.2833 36.65 36.9633 36.95C37.7133 37.07 37.7433 39.47 36.8733 39.56C35.0733 39.77 29.6433 39.8 27.7833 39.56C26.9133 39.47 26.9433 37.25 27.6933 37.07C28.5933 36.86 28.8033 36.38 28.6233 35.63C28.2933 34.25 28.0833 34.04 27.0933 33.95C25.6233 33.8 22.4133 33.77 20.9433 34.01C20.5533 34.07 20.2233 34.7 19.8633 35.96C19.6533 36.71 19.9233 36.95 20.8833 37.07C21.6333 37.16 21.6633 39.47 20.8233 39.56C18.9933 39.77 15.4233 39.8 13.5633 39.56C12.7233 39.47 12.8433 37.1 13.5033 36.95C15.0633 36.62 15.8133 35.96 16.8033 33.83C17.9733 31.28 19.2033 28.55 20.2233 25.76C20.7933 24.17 21.1233 22.97 21.1233 22.01C21.1533 19.76 21.8133 18.62 24.0633 18.62ZM45.0816 27.62V35.18C45.0816 36.74 45.3216 37.25 46.3716 37.4C47.3016 37.52 47.3316 39.53 46.4016 39.59C45.1116 39.68 40.4016 39.68 39.0816 39.59C38.1516 39.53 38.1816 37.52 39.1116 37.4C40.1616 37.25 40.4016 36.74 40.4016 35.18V29.42C40.4016 28.37 40.1616 28.13 39.6216 28.28C38.9016 28.49 38.2116 26.6 38.9316 26.15C40.3716 25.22 42.6216 24.29 44.4216 23.99C45.1116 23.87 45.8616 25.22 45.4716 25.85C45.1716 26.33 45.0816 26.72 45.0816 27.62ZM39.6816 20.87C39.6816 19.43 40.7316 18.32 42.2616 18.32C43.7916 18.32 44.8416 19.43 44.8416 20.87C44.8416 22.31 43.7916 23.42 42.2616 23.42C40.7316 23.42 39.6816 22.31 39.6816 20.87Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
}
.profile .design ul li:nth-child(2):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M20.4758 23.3V27.83C20.4758 28.82 20.7158 28.97 21.7358 29C25.3658 29.06 26.8658 27.83 26.8658 25.04C26.8658 22.55 24.7958 21.68 21.6158 21.98C20.7158 22.07 20.4758 22.55 20.4758 23.3ZM13.8758 19.01H24.5258C29.0258 19.01 32.4158 21.17 32.4158 25.07C32.4158 30.53 28.3058 32.03 21.7058 31.7C20.6858 31.64 20.4458 31.94 20.4458 33.05V34.85C20.4458 36.47 20.9858 36.8 22.2158 37.01C22.9058 37.13 22.9358 39.44 22.1258 39.5C20.4458 39.62 15.6158 39.74 13.7558 39.62C12.9158 39.56 12.8558 37.19 13.5458 37.04C14.9258 36.74 15.3158 36.35 15.4058 34.94C15.5258 32.9 15.5258 25.67 15.4058 23.57C15.3458 22.19 14.8958 21.74 13.6658 21.5C12.9758 21.35 13.0358 19.01 13.8758 19.01ZM33.0018 28.97C33.0018 26.21 34.7418 24.44 38.0418 24.08C39.1518 23.96 40.1418 24.05 41.1618 24.29C41.7918 24.44 42.3618 24.47 42.9918 24.35C43.8018 24.2 44.2818 24.26 44.7918 24.95C45.3318 25.7 45.7818 26.72 45.9018 27.74C45.9918 28.43 45.9318 28.61 45.1218 28.88C44.3718 29.12 44.0718 29.06 43.7418 28.52C43.1418 27.56 42.0918 26.96 40.9818 26.78C38.8818 26.45 37.7718 26.96 37.7718 28.22C37.7718 29.03 38.5818 29.72 40.2318 30.02C43.5618 30.62 46.6218 31.52 46.8018 34.97C46.8918 36.65 46.2918 37.64 45.3018 38.42C43.8918 39.53 41.2518 39.86 39.1818 39.56C37.9218 39.38 36.9018 39.41 35.8218 39.65C35.1918 39.8 34.6818 39.74 34.2618 39.23C33.5418 38.27 32.8518 37.1 32.5818 35.81C32.4318 35.06 32.5218 34.85 33.2418 34.46C33.9918 34.04 34.2618 34.04 34.7418 34.61C35.7318 35.75 36.6918 36.32 38.1918 36.71C40.3218 37.25 41.5818 36.71 41.5818 35.48C41.5818 34.82 41.1318 34.22 39.4218 33.83C35.4618 32.96 33.0018 31.73 33.0018 28.97Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
}
.profile .design ul li:nth-child(3):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M20.3366 22.61L23.0366 26.09L25.7666 22.67C26.5166 21.71 26.3666 21.44 25.4366 21.38C24.6566 21.32 24.5666 19.04 25.4366 18.95C27.2366 18.74 30.2966 18.77 31.9766 19.01C32.7866 19.13 32.7566 21.5 32.0666 21.59C30.9266 21.74 30.4766 21.98 29.5766 23.15L25.1366 28.79L30.1466 35.21C31.0166 36.35 31.7066 36.74 32.9966 36.89C33.7166 36.98 33.7766 39.47 32.9366 39.56C31.1066 39.77 26.0966 39.74 24.4466 39.5C23.6366 39.38 23.7266 37.16 24.4166 37.07C25.0466 36.98 25.1666 36.56 24.6566 35.9L21.4466 31.79L17.9366 35.84C17.1866 36.74 17.2466 37.04 18.0566 37.13C18.8366 37.22 18.9266 39.47 18.0566 39.56C16.2566 39.77 13.1366 39.74 11.4566 39.5C10.6466 39.38 10.6766 37.01 11.3666 36.92C12.4766 36.8 12.8666 36.8 14.0666 35.36L19.3166 29.06L14.8466 23.3C13.8866 22.07 13.4066 21.8 12.0566 21.62C11.3366 21.5 11.2766 19.04 12.1166 18.95C13.9466 18.74 18.9566 18.77 20.6066 19.01C21.4166 19.13 21.3266 21.38 20.6366 21.44C19.8866 21.5 19.8566 21.98 20.3366 22.61ZM43.7673 33.98V29.57C43.7673 27.98 43.6173 27.32 42.8973 27.11C40.2873 26.3 38.2773 27.83 38.2773 32.15C38.2773 35.36 40.1673 36.38 41.6673 36.2C42.8973 36.05 43.7673 35.27 43.7673 33.98ZM43.7673 24.56V24.2C43.7673 23.15 43.5273 22.91 42.9873 23.06C42.2673 23.27 41.5773 21.38 42.2973 20.93C43.7373 20 45.8373 19.07 47.6373 18.77C48.3273 18.65 49.0773 20 48.6873 20.63C48.3873 21.11 48.2973 21.5 48.2973 22.4V35.03C48.2973 36.23 48.7773 36.53 49.5273 36.26C50.3673 35.99 50.7873 36.74 50.3373 37.46C49.6173 38.6 47.9373 39.65 46.1073 39.65C44.7573 39.65 44.4873 39.35 44.0373 38.36C43.7373 37.67 43.4073 37.82 43.0473 38.12C39.1773 41.36 33.5373 39.53 33.5373 32.06C33.5373 27.17 36.1173 24.83 39.1173 24.26C40.7073 23.96 42.0273 24.26 43.0173 25.04C43.5573 25.46 43.7673 25.31 43.7673 24.56Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
}
.profile .design ul li:nth-child(4):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Ccircle cx='36.5' cy='30.5' r='6.5' fill='%231642D8'/%3E%3Cpath d='M17 43.5C17 39.9101 19.9101 37 23.5 37H30V43.5C30 47.0899 27.0899 50 23.5 50C19.9101 50 17 47.0899 17 43.5Z' fill='%23C9D5FF'/%3E%3Cpath d='M17 17.5C17 13.9101 19.9101 11 23.5 11H30V24H23.5C19.9101 24 17 21.0899 17 17.5Z' fill='%233358D2'/%3E%3Cpath d='M17 30.5C17 26.9101 19.9101 24 23.5 24H30V37H23.5C19.9101 37 17 34.0899 17 30.5Z' fill='%237D95E5'/%3E%3Cpath d='M43 17.5C43 21.0899 40.0899 24 36.5 24L30 24L30 11L36.5 11C40.0899 11 43 13.9101 43 17.5Z' fill='%2300249D'/%3E%3C/svg%3E%0A");
}

/*mouse hover*/
.profile .education:hover,
.profile .work:hover,
.profile .photoimg:hover,
.profile .certificate:hover,
.profile .coding:hover,
.profile .design:hover {
    z-index: 5;
}
.profile .coding:hover ul li:nth-child(1):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M16.1813 12.35V9.72C16.1813 8.71 16.1013 8.56 15.5213 8.46C15.2813 8.42 15.2713 7.73 15.5513 7.7C16.1713 7.62 17.7513 7.63 18.3613 7.7C18.6413 7.73 18.6413 8.39 18.3913 8.44C17.8413 8.55 17.7813 8.6 17.7813 9.57C17.7813 10.25 17.8113 10.31 18.1813 10.34C18.7713 10.39 19.5413 10.38 20.1313 10.34C20.5013 10.31 20.5313 10.25 20.5313 9.57C20.5313 8.6 20.4713 8.55 19.9213 8.44C19.6813 8.39 19.6713 7.73 19.9513 7.7C20.5613 7.63 22.1313 7.62 22.7513 7.7C23.0413 7.73 23.0313 8.42 22.7813 8.46C22.2013 8.56 22.1213 8.71 22.1213 9.72V12.35C22.1213 13.36 22.2913 13.54 22.8813 13.64C23.1213 13.68 23.1313 14.49 22.8513 14.52C22.2313 14.6 20.5613 14.59 19.9513 14.52C19.6713 14.49 19.6813 13.7 19.9213 13.65C20.4413 13.55 20.5313 13.42 20.5313 12.35V12C20.5313 11.55 20.4113 11.47 20.1313 11.45C19.5413 11.4 18.7713 11.4 18.1813 11.46C17.9013 11.49 17.7813 11.55 17.7813 12V12.35C17.7813 13.42 17.8713 13.55 18.3913 13.65C18.6413 13.7 18.6413 14.49 18.3613 14.52C17.7513 14.59 16.0713 14.6 15.4513 14.52C15.1713 14.49 15.1813 13.68 15.4213 13.64C16.0113 13.54 16.1813 13.36 16.1813 12.35ZM25.8102 7.76H27.7102C28.7302 7.76 28.9802 7.74 29.4102 7.59C29.7802 7.46 30.2102 8.06 30.2902 9.09C30.3202 9.5 30.3102 9.57 29.9902 9.69C29.7102 9.79 29.6302 9.71 29.4502 9.45C29.1202 8.97 28.9102 8.84 28.5502 8.8C28.4002 8.79 28.1102 8.8 27.9502 8.82C27.6402 8.86 27.5902 8.97 27.5902 9.44V12.4C27.5902 13.41 27.7502 13.51 28.4202 13.62C28.6702 13.66 28.6802 14.49 28.3902 14.52C27.7902 14.59 25.7302 14.6 25.1102 14.52C24.8302 14.49 24.8402 13.66 25.0802 13.62C25.7602 13.52 25.9202 13.41 25.9202 12.4V9.44C25.9202 8.97 25.8702 8.86 25.5502 8.82C25.4002 8.8 25.1002 8.79 24.9402 8.8C24.5902 8.83 24.3802 8.98 24.0502 9.45C23.8702 9.71 23.7902 9.79 23.5002 9.69C23.1902 9.57 23.1802 9.5 23.2102 9.09C23.2902 8.06 23.7202 7.46 24.0902 7.59C24.5102 7.74 24.7902 7.76 25.8102 7.76ZM30.7535 7.65C31.4835 7.53 32.3235 7.57 33.0635 7.64C33.4935 7.68 33.6235 7.8 33.7535 8.2C33.9935 8.95 34.6635 10.8 34.8935 11.41C35.0135 11.73 35.0735 11.73 35.2135 11.38C35.5735 10.49 36.1135 9.06 36.3935 8.2C36.5235 7.79 36.6535 7.68 37.0835 7.64C37.5035 7.6 38.6035 7.59 39.0035 7.65C39.2535 7.69 39.2735 8.41 39.0335 8.48C38.5635 8.62 38.4535 8.8 38.4435 9.09C38.4035 10.51 38.4435 12.15 38.4635 12.97C38.4735 13.48 38.5935 13.64 38.9835 13.7C39.2235 13.74 39.2335 14.5 38.9535 14.53C38.3935 14.6 36.9935 14.6 36.3835 14.53C36.0935 14.5 36.1035 13.74 36.3535 13.7C36.7135 13.64 36.8335 13.51 36.8435 12.97C36.8535 12.53 36.8735 11.4 36.8535 10.58C36.8435 10.34 36.7235 10.33 36.6535 10.52C36.3435 11.38 35.7035 12.89 35.2835 13.81C35.0535 14.31 34.9535 14.33 34.7135 14.33C34.5135 14.33 34.4235 14.26 34.2235 13.77C33.8135 12.78 33.1735 11.33 32.8035 10.29C32.7135 10.06 32.5835 10.09 32.5735 10.33C32.5435 10.93 32.5435 12.1 32.5635 12.94C32.5735 13.52 32.6635 13.6 33.0435 13.68C33.2735 13.72 33.2835 14.47 33.0135 14.51C32.4535 14.59 31.3835 14.6 30.7735 14.53C30.4935 14.5 30.5035 13.74 30.7435 13.7C31.1335 13.64 31.2835 13.48 31.2935 12.97C31.3135 12.15 31.3535 10.51 31.3135 9.09C31.3035 8.8 31.1935 8.62 30.7235 8.48C30.4835 8.41 30.5035 7.69 30.7535 7.65ZM42.1686 9.35V12.74C42.1686 13.32 42.2486 13.45 42.8286 13.48C43.1686 13.5 43.6586 13.5 43.9886 13.47C44.5186 13.43 44.6886 13.12 44.8986 12.81C45.0786 12.56 45.1586 12.5 45.4386 12.61C45.7586 12.73 45.7886 12.79 45.7586 13.21C45.6786 14.24 45.2486 14.81 44.8786 14.69C44.4586 14.54 44.1386 14.54 43.1186 14.54H39.8086C39.4586 14.54 39.4086 13.66 39.7386 13.59C40.1986 13.49 40.4286 13.31 40.4486 12.58C40.4786 11.41 40.4886 10.61 40.4486 9.35C40.4286 8.74 40.2986 8.51 39.8686 8.43C39.5686 8.38 39.5786 7.71 39.8986 7.67C40.6786 7.57 41.9286 7.57 42.6986 7.66C43.0986 7.71 43.0686 8.4 42.7186 8.46C42.2986 8.53 42.1686 8.64 42.1686 9.35Z' fill='%2300249D'/%3E%3Cpath d='M13 19H47L44.45 47.5L30 55L15.55 47.5L13 19Z' fill='%23F35825'/%3E%3Cpath d='M44.45 47.5L47 19H30V55L44.45 47.5Z' fill='%23F67925'/%3E%3Cpath d='M40 27H21V34.1064H38.7609L37.7609 42.3191L30.087 47L22 42.3191L21 38.6383' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
}
.profile .coding:hover ul li:nth-child(2):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M22.8101 7.53C23.7501 7.47 24.4901 7.88 24.7501 7.92C24.9801 7.96 25.1101 7.93 25.2401 7.89C25.6101 7.77 26.0401 8.35 26.1201 9.25C26.1601 9.66 26.1101 9.71 25.7901 9.83C25.5101 9.93 25.4401 9.89 25.2501 9.64C24.6601 8.83 23.6601 8.51 22.6901 8.69C21.6501 8.88 21.0801 9.88 21.1901 11.1C21.3201 12.63 22.3801 13.34 23.8401 13.21C24.6601 13.14 25.2901 12.81 25.7401 12.21C26.0001 11.87 26.4001 12.06 26.2701 12.48C25.8701 13.8 24.6601 14.64 23.1001 14.66C21.0101 14.69 19.5201 13.36 19.3901 11.2C19.2701 9.29 20.6301 7.67 22.8101 7.53ZM26.8543 9.61C26.8543 8.5 27.6143 7.8 28.9843 7.55C29.6543 7.43 30.3043 7.48 30.8343 7.72C31.2243 7.89 31.4543 7.91 31.8343 7.81C32.2043 7.71 32.6343 8.3 32.7143 9.2C32.7543 9.61 32.7043 9.66 32.3843 9.78C32.1043 9.88 32.0343 9.84 31.8443 9.59C31.3443 8.9 30.6843 8.56 29.9043 8.56C29.1643 8.56 28.7943 8.88 28.7943 9.39C28.7943 9.88 29.1643 10.22 30.0643 10.36C31.9743 10.66 32.9743 11.37 33.0143 12.66C33.0643 14.34 31.0943 14.95 29.5643 14.52C29.1343 14.4 28.7843 14.41 28.3343 14.56C27.8343 14.73 27.6243 14.68 27.4143 14.43C27.0543 14.01 26.7343 13.42 26.6143 12.84C26.5343 12.46 27.2043 12.15 27.4343 12.45C27.8743 13.01 28.2843 13.3 28.9943 13.42C30.2743 13.64 31.0343 13.39 30.9843 12.72C30.9443 12.23 30.6543 11.99 29.6243 11.83C27.7243 11.52 26.8543 10.76 26.8543 9.61ZM33.5535 9.61C33.5535 8.5 34.3135 7.8 35.6835 7.55C36.3535 7.43 37.0035 7.48 37.5335 7.72C37.9235 7.89 38.1535 7.91 38.5335 7.81C38.9035 7.71 39.3335 8.3 39.4135 9.2C39.4535 9.61 39.4035 9.66 39.0835 9.78C38.8035 9.88 38.7335 9.84 38.5435 9.59C38.0435 8.9 37.3835 8.56 36.6035 8.56C35.8635 8.56 35.4935 8.88 35.4935 9.39C35.4935 9.88 35.8635 10.22 36.7635 10.36C38.6735 10.66 39.6735 11.37 39.7135 12.66C39.7635 14.34 37.7935 14.95 36.2635 14.52C35.8335 14.4 35.4835 14.41 35.0335 14.56C34.5335 14.73 34.3235 14.68 34.1135 14.43C33.7535 14.01 33.4335 13.42 33.3135 12.84C33.2335 12.46 33.9035 12.15 34.1335 12.45C34.5735 13.01 34.9835 13.3 35.6935 13.42C36.9735 13.64 37.7335 13.39 37.6835 12.72C37.6435 12.23 37.3535 11.99 36.3235 11.83C34.4235 11.52 33.5535 10.76 33.5535 9.61Z' fill='%2300249D'/%3E%3Cpath d='M13 19H47L44.45 47.5L30 55L15.55 47.5L13 19Z' fill='%23007BC9'/%3E%3Cpath d='M44.45 47.5L47 19H30V55L44.45 47.5Z' fill='%23008ED8'/%3E%3Cpath d='M20 27H40L20 34.1064H38.7609L37.7609 42.3191L30.087 47L22 42.3191L21 38.6383' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
}
.profile .coding:hover ul li:nth-child(3):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23EDF3FF' stroke='%2300249D'/%3E%3Cpath d='M25.0354 7.67C25.9554 7.55 26.9054 7.55 27.8554 7.67C28.1754 7.71 28.1854 8.48 27.8854 8.53C27.4554 8.61 27.3254 8.73 27.3054 9.31C27.2754 10.27 27.2854 12.48 27.2754 13.73C27.2654 15.2 26.3554 15.97 24.5954 16.01C24.2754 16.02 24.2254 15.58 24.5254 15.47C25.2754 15.2 25.5554 14.8 25.5754 13.89C25.5954 13.02 25.6254 10.27 25.5854 9.31C25.5654 8.73 25.4354 8.61 25.0054 8.53C24.7054 8.48 24.7154 7.71 25.0354 7.67ZM28.3582 9.61C28.3582 8.5 29.1182 7.8 30.4882 7.55C31.1582 7.43 31.8082 7.48 32.3382 7.72C32.7282 7.89 32.9582 7.91 33.3382 7.81C33.7082 7.71 34.1382 8.3 34.2182 9.2C34.2582 9.61 34.2082 9.66 33.8882 9.78C33.6082 9.88 33.5382 9.84 33.3482 9.59C32.8482 8.9 32.1882 8.56 31.4082 8.56C30.6682 8.56 30.2982 8.88 30.2982 9.39C30.2982 9.88 30.6682 10.22 31.5682 10.36C33.4782 10.66 34.4782 11.37 34.5182 12.66C34.5682 14.34 32.5982 14.95 31.0682 14.52C30.6382 14.4 30.2882 14.41 29.8382 14.56C29.3382 14.73 29.1282 14.68 28.9182 14.43C28.5582 14.01 28.2382 13.42 28.1182 12.84C28.0382 12.46 28.7082 12.15 28.9382 12.45C29.3782 13.01 29.7882 13.3 30.4982 13.42C31.7782 13.64 32.5382 13.39 32.4882 12.72C32.4482 12.23 32.1582 11.99 31.1282 11.83C29.2282 11.52 28.3582 10.76 28.3582 9.61Z' fill='%2300249D'/%3E%3Cpath d='M13 19H47L44.45 47.5L30 55L15.55 47.5L13 19Z' fill='%23F78224'/%3E%3Cpath d='M44.45 47.5L47 19H30V55L44.45 47.5Z' fill='%23FB9E21'/%3E%3Cpath d='M26.372 26V46.256L21.7163 44.3961L21 38.4444M42 26.372L33.5744 27.1159V36.0435L40.2093 35.2995L40.0397 43.4831L32.8581 47' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
}
.profile .design:hover ul li:nth-child(1):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23271302' stroke='%2300249D'/%3E%3Cpath d='M22.5033 31.13H26.2233C27.1233 31.13 27.2733 30.92 26.9733 29.93C26.4933 28.37 25.7133 26.18 24.8733 24.53C24.5433 23.9 24.0933 23.99 23.9133 24.56C23.4633 25.94 22.4133 28.64 21.9033 30.05C21.6633 30.74 21.9633 31.13 22.5033 31.13ZM24.0633 18.62C26.6433 18.62 28.2033 19.7 29.5233 23.09C31.1433 27.26 32.9733 32 34.1133 34.4C34.9833 36.26 35.2833 36.65 36.9633 36.95C37.7133 37.07 37.7433 39.47 36.8733 39.56C35.0733 39.77 29.6433 39.8 27.7833 39.56C26.9133 39.47 26.9433 37.25 27.6933 37.07C28.5933 36.86 28.8033 36.38 28.6233 35.63C28.2933 34.25 28.0833 34.04 27.0933 33.95C25.6233 33.8 22.4133 33.77 20.9433 34.01C20.5533 34.07 20.2233 34.7 19.8633 35.96C19.6533 36.71 19.9233 36.95 20.8833 37.07C21.6333 37.16 21.6633 39.47 20.8233 39.56C18.9933 39.77 15.4233 39.8 13.5633 39.56C12.7233 39.47 12.8433 37.1 13.5033 36.95C15.0633 36.62 15.8133 35.96 16.8033 33.83C17.9733 31.28 19.2033 28.55 20.2233 25.76C20.7933 24.17 21.1233 22.97 21.1233 22.01C21.1533 19.76 21.8133 18.62 24.0633 18.62ZM45.0816 27.62V35.18C45.0816 36.74 45.3216 37.25 46.3716 37.4C47.3016 37.52 47.3316 39.53 46.4016 39.59C45.1116 39.68 40.4016 39.68 39.0816 39.59C38.1516 39.53 38.1816 37.52 39.1116 37.4C40.1616 37.25 40.4016 36.74 40.4016 35.18V29.42C40.4016 28.37 40.1616 28.13 39.6216 28.28C38.9016 28.49 38.2116 26.6 38.9316 26.15C40.3716 25.22 42.6216 24.29 44.4216 23.99C45.1116 23.87 45.8616 25.22 45.4716 25.85C45.1716 26.33 45.0816 26.72 45.0816 27.62ZM39.6816 20.87C39.6816 19.43 40.7316 18.32 42.2616 18.32C43.7916 18.32 44.8416 19.43 44.8416 20.87C44.8416 22.31 43.7916 23.42 42.2616 23.42C40.7316 23.42 39.6816 22.31 39.6816 20.87Z' fill='%23FF7C01'/%3E%3C/svg%3E%0A");
}
.profile .design:hover ul li:nth-child(2):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23001D23' stroke='%2300249D'/%3E%3Cpath d='M20.4758 23.3V27.83C20.4758 28.82 20.7158 28.97 21.7358 29C25.3658 29.06 26.8658 27.83 26.8658 25.04C26.8658 22.55 24.7958 21.68 21.6158 21.98C20.7158 22.07 20.4758 22.55 20.4758 23.3ZM13.8758 19.01H24.5258C29.0258 19.01 32.4158 21.17 32.4158 25.07C32.4158 30.53 28.3058 32.03 21.7058 31.7C20.6858 31.64 20.4458 31.94 20.4458 33.05V34.85C20.4458 36.47 20.9858 36.8 22.2158 37.01C22.9058 37.13 22.9358 39.44 22.1258 39.5C20.4458 39.62 15.6158 39.74 13.7558 39.62C12.9158 39.56 12.8558 37.19 13.5458 37.04C14.9258 36.74 15.3158 36.35 15.4058 34.94C15.5258 32.9 15.5258 25.67 15.4058 23.57C15.3458 22.19 14.8958 21.74 13.6658 21.5C12.9758 21.35 13.0358 19.01 13.8758 19.01ZM33.0018 28.97C33.0018 26.21 34.7418 24.44 38.0418 24.08C39.1518 23.96 40.1418 24.05 41.1618 24.29C41.7918 24.44 42.3618 24.47 42.9918 24.35C43.8018 24.2 44.2818 24.26 44.7918 24.95C45.3318 25.7 45.7818 26.72 45.9018 27.74C45.9918 28.43 45.9318 28.61 45.1218 28.88C44.3718 29.12 44.0718 29.06 43.7418 28.52C43.1418 27.56 42.0918 26.96 40.9818 26.78C38.8818 26.45 37.7718 26.96 37.7718 28.22C37.7718 29.03 38.5818 29.72 40.2318 30.02C43.5618 30.62 46.6218 31.52 46.8018 34.97C46.8918 36.65 46.2918 37.64 45.3018 38.42C43.8918 39.53 41.2518 39.86 39.1818 39.56C37.9218 39.38 36.9018 39.41 35.8218 39.65C35.1918 39.8 34.6818 39.74 34.2618 39.23C33.5418 38.27 32.8518 37.1 32.5818 35.81C32.4318 35.06 32.5218 34.85 33.2418 34.46C33.9918 34.04 34.2618 34.04 34.7418 34.61C35.7318 35.75 36.6918 36.32 38.1918 36.71C40.3218 37.25 41.5818 36.71 41.5818 35.48C41.5818 34.82 41.1318 34.22 39.4218 33.83C35.4618 32.96 33.0018 31.73 33.0018 28.97Z' fill='%2301C8FE'/%3E%3C/svg%3E%0A");
}
.profile .design:hover ul li:nth-child(3):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23450135' stroke='%2300249D'/%3E%3Cpath d='M20.3366 22.61L23.0366 26.09L25.7666 22.67C26.5166 21.71 26.3666 21.44 25.4366 21.38C24.6566 21.32 24.5666 19.04 25.4366 18.95C27.2366 18.74 30.2966 18.77 31.9766 19.01C32.7866 19.13 32.7566 21.5 32.0666 21.59C30.9266 21.74 30.4766 21.98 29.5766 23.15L25.1366 28.79L30.1466 35.21C31.0166 36.35 31.7066 36.74 32.9966 36.89C33.7166 36.98 33.7766 39.47 32.9366 39.56C31.1066 39.77 26.0966 39.74 24.4466 39.5C23.6366 39.38 23.7266 37.16 24.4166 37.07C25.0466 36.98 25.1666 36.56 24.6566 35.9L21.4466 31.79L17.9366 35.84C17.1866 36.74 17.2466 37.04 18.0566 37.13C18.8366 37.22 18.9266 39.47 18.0566 39.56C16.2566 39.77 13.1366 39.74 11.4566 39.5C10.6466 39.38 10.6766 37.01 11.3666 36.92C12.4766 36.8 12.8666 36.8 14.0666 35.36L19.3166 29.06L14.8466 23.3C13.8866 22.07 13.4066 21.8 12.0566 21.62C11.3366 21.5 11.2766 19.04 12.1166 18.95C13.9466 18.74 18.9566 18.77 20.6066 19.01C21.4166 19.13 21.3266 21.38 20.6366 21.44C19.8866 21.5 19.8566 21.98 20.3366 22.61ZM43.7673 33.98V29.57C43.7673 27.98 43.6173 27.32 42.8973 27.11C40.2873 26.3 38.2773 27.83 38.2773 32.15C38.2773 35.36 40.1673 36.38 41.6673 36.2C42.8973 36.05 43.7673 35.27 43.7673 33.98ZM43.7673 24.56V24.2C43.7673 23.15 43.5273 22.91 42.9873 23.06C42.2673 23.27 41.5773 21.38 42.2973 20.93C43.7373 20 45.8373 19.07 47.6373 18.77C48.3273 18.65 49.0773 20 48.6873 20.63C48.3873 21.11 48.2973 21.5 48.2973 22.4V35.03C48.2973 36.23 48.7773 36.53 49.5273 36.26C50.3673 35.99 50.7873 36.74 50.3373 37.46C49.6173 38.6 47.9373 39.65 46.1073 39.65C44.7573 39.65 44.4873 39.35 44.0373 38.36C43.7373 37.67 43.4073 37.82 43.0473 38.12C39.1773 41.36 33.5373 39.53 33.5373 32.06C33.5373 27.17 36.1173 24.83 39.1173 24.26C40.7073 23.96 42.0273 24.26 43.0173 25.04C43.5573 25.46 43.7673 25.31 43.7673 24.56Z' fill='%23F75DF1'/%3E%3C/svg%3E%0A");
}
.profile .design:hover ul li:nth-child(4):before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='59' height='59' rx='9.5' fill='%23333333' stroke='%2300249D'/%3E%3Ccircle cx='36.5' cy='30.5' r='6.5' fill='%231ABCFE'/%3E%3Cpath d='M17 43.5C17 39.9101 19.9101 37 23.5 37H30V43.5C30 47.0899 27.0899 50 23.5 50C19.9101 50 17 47.0899 17 43.5Z' fill='%230ACF83'/%3E%3Cpath d='M17 17.5C17 13.9101 19.9101 11 23.5 11H30V24H23.5C19.9101 24 17 21.0899 17 17.5Z' fill='%23F24E1E'/%3E%3Cpath d='M17 30.5C17 26.9101 19.9101 24 23.5 24H30V37H23.5C19.9101 37 17 34.0899 17 30.5Z' fill='%23A259FF'/%3E%3Cpath d='M43 17.5C43 21.0899 40.0899 24 36.5 24L30 24L30 11L36.5 11C40.0899 11 43 13.9101 43 17.5Z' fill='%23FF7262'/%3E%3C/svg%3E%0A");
}
.web h1 {
    font-size: 0;
    line-height: 0;
}
.web .wrapper {
    position: relative;
}
.web .a_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: #A9B8EB;
    border: 1px solid #00249D;
    padding: 40px;
}
.web .a_box .tap_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.web .a_box .tap_cnt div[role="tabpanel"] {
    display: none; 
}
.web .a_box .tap_cnt div[role="tabpanel"].active {
    display: block;
}
.web .a_box .tap_area .tap_btn > ul > li {
    margin: 40px 0;
}
.web .a_box .tap_area .tap_btn > ul > li button {
    position: relative;
    display: block;
    font-size: 30px;
    text-align: center;
    width: 130px;
    height: 130px;
    padding-top: 80px;
}
.web .a_box .tap_area .tap_btn > ul > li button::before {
    position: absolute;
    left: 26px;
    top: 10px;
    width: 75px;
    height: 67px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='74' height='67' viewBox='0 0 74 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5C1 2.79086 2.79086 1 5 1H35.7419C37.5343 1 39.108 2.19242 39.5928 3.91806L57.0352 66H1V5Z' fill='%23FFE177' stroke='%2300249D' stroke-width='2'/%3E%3Cpath d='M30.2581 13.1569H30.348L30.4364 13.1409L67.7705 6.37411C70.2252 5.92919 72.4839 7.81526 72.4839 10.31V65.9997H1V17.1569C1 14.9478 2.79086 13.1569 5 13.1569H30.2581Z' fill='%23FFD12D' stroke='%2300249D' stroke-width='2'/%3E%3C/svg%3E%0A");
    content: "";
}
.web .a_box .tap_area .tap_btn > ul > li.active button {
    font-weight: 700;
}
.web .a_box .tap_area .tap_cnt .detail {
    display: flex;
    align-items: center;
    margin: 0 0 0 70px;
}
.web .a_box .tap_area .tap_cnt .tabborad1 {
    border-radius: 30px;
    border: 1px solid #00249D;
    background-color: #fff;
    width: 600px;
}
.web .a_box .tap_area .tap_cnt .tabborad1 > strong {
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid #00249D;
    padding: 0 40px 0 85px;
    line-height: 85px;
}
.web .a_box .tap_area .tap_cnt .tabborad1 > strong::before {
    position: absolute;
    left: 30px;
    top: 23px;
    width: 34px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='31' viewBox='0 0 34 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 5C0.5 2.51472 2.51472 0.5 5 0.5H14.5015C16.518 0.5 18.2883 1.84148 18.8338 3.78282L26.3402 30.5H0.5V5Z' fill='%23FFE177' stroke='%2300249D'/%3E%3Cpath d='M14 6.125H14.0449L14.0892 6.11698L28.1975 3.55986C30.959 3.05932 33.5 5.18115 33.5 7.98772V30.5H0.5V10.625C0.5 8.13972 2.51472 6.125 5 6.125H14Z' fill='%23FFD12D' stroke='%2300249D'/%3E%3C/svg%3E%0A");
    content: "";
}
.web .a_box .tap_area .tap_cnt .tabborad1 .photo {
    padding: 40px;
}
.web .a_box .tap_area .tap_cnt .tabborad2 .list1 {
    width: 400px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #00249D;
    padding: 40px;
    margin: 0 0 0 40px;
}
.web .a_box .tap_area .tap_cnt .tabborad2 .list1 strong {
    display: block;
    font-size: 25px;
    line-height: 50px;
}
.web .a_box .tap_area .tap_cnt .tabborad2 .list2 {
    width: 430px;
    border-radius: 30px;
    background-color: #EDF3FF;
    border: 1px solid #00249D;
    margin: 30px 0 0 80px;
}
.web .a_box .tap_area .tap_cnt .tabborad2 .list2 strong {
    display: block;
    font-size: 25px;
    padding: 40px;
    text-align: center;
}
.web .a_box .tap_area .tap_cnt .tabborad2 .list2 .more a {
    display: block;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #00249D;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    transition: 0.5s;
}
.web .a_box .tap_area .tap_cnt .tabborad2 .list2 .more a:hover {
    color: #fff;
    background-color: #00249D;
}