@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.fp-table {
    flex-direction: row;
}
#fp-nav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid #282119;
    border-radius: 50%;
}
#fp-nav.fp-show-active a.active + .fp-tooltip,
#fp-nav ul li .fp-tooltip {
    font-family: 'ghanachoco';
    color: #282119;
}
#fp-nav.w ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid #F2EFEA;
    border-radius: 50%;
}
#fp-nav.w.fp-show-active a.active + .fp-tooltip,
#fp-nav.w ul li .fp-tooltip {
    font-family: 'ghanachoco';
    color: #F2EFEA;
}
#fp-nav.w ul li a span,
#fp-nav.w ul li a.active span {
    background-color: #F2EFEA;
}
.main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main_bg.png);
    position: relative;
}
.main h1,
.iam h1 {
    font-size: 0;
    line-height: 0;
}
.main .recode .photo1 {
    position: absolute;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    animation: rotate 6s linear infinite;
}
.main .recode .photo2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
@keyframes rotate {
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}
.iam {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282119;
    color: #F2EFEA;
}
.iam .iam_l {
    margin-right: 50px;
}
.iam .iam_l .top > ul > li > strong,
.iam .iam_l .sub > ul > li > strong  {
    display: block;
    font-family: 'ghanachoco';
    font-size: 30px;
    margin-bottom: 15px;
}
.iam .iam_l .top > ul > li {
    margin-bottom: 30px;
}
.iam .iam_l .top > ul > li > ul > li,
.iam .iam_l .sub > ul > li > ul > li {
    display: flex;
    font-family: 'GowunBatang';
    line-height: 30px;
}
.iam .iam_l .top > ul > li > ul > li > span,
.iam .iam_l .sub > ul > li > ul > li > span {
    display: block;
    margin-right: 30px;
}
.iam .iam_l .sub > ul{
    display: flex;
}
.iam .iam_l .sub > ul > li {
    margin-right: 100px;
}
.iam .iam_r{
    position: relative;
}
.iam .iam_r::before {
    position: absolute;
    left: -67px;
    top: -60px;
    width: 200px;
    height: 190px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='225' height='211' viewBox='0 0 225 211' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 155.524L181.826 0.000109687L181.771 11.9021L192.956 13.0124L195.234 27.3179L207.564 30.0907L211.512 43.2373L223.474 48.6908L224.964 57.7398C155.361 117.264 116.338 150.638 46.7345 210.162L49.047 195.062L31.7169 192.605L25.691 175.602L13.8253 171.687L13.0077 158.242L0 155.524Z' fill='%23D4A36B'/%3E%3C/svg%3E%0A");
    content: "";
}
.iam .iam_r .photo_sub {
    padding: 30px;
    border: 1px solid #F2EFEA;
    border-radius: 40px;
}
.iam .iam_r .photo_sub strong {
    display: block;
    font-family: 'ghanachoco';
    color: #F2EFEA;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}
.Project1, .Project2, .Project3, .Project4 {
    background-color: #F2EFEA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Project1 .inner h1,
.Project2 .inner h1,
.Project3 .inner h1,
.Project4 .inner h1 {
    font-family: 'ghanachoco';
    font-size: 30px;
    margin-bottom: 10px;
}
.Project1 .inner strong,
.Project2 .inner strong,
.Project3 .inner strong,
.Project4 .inner strong {
    display: block;
    font-size: 15px;
    line-height: 20px;
}
.Project1 .inner .color,
.Project2 .inner .color,
.Project3 .inner .color,
.Project4 .inner .color {
    display: flex;
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 10px;
}
.Project1 .inner .color ul,
.Project2 .inner .color ul,
.Project3 .inner .color ul,
.Project4 .inner .color ul {
    display: flex;
    align-items: center;
}
.Project1 .inner .color ul li,
.Project2 .inner .color ul li,
.Project3 .inner .color ul li,
.Project4 .inner .color ul li {
    width: 18px;
    height: 18px;
    font-size: 0;
    line-height: 0;
    border-radius: 50px;
    margin: 0 7px;
}
.Project1 .inner .color ul li.c1 {
    background-color: #568034;
}
.Project1 .inner .color ul li.c2 {
    background-color: #B5C268;
}
.Project1 .inner .color ul li.c3 {
    background-color: #FFE27C;
}
.Project1 .inner .color ul li.c4 {
    background-color: #C8B6A0;
}
.Project1 .inner .h_link {
    display: flex;
}
.Project1 .inner .link {
    margin-right: 20px;
}
.Project2 .inner ul li.c1 {
    background-color: #20231F;
}
.Project2 .inner ul li.c2 {
    background-color: #333333;
}
.Project2 .inner ul li.c3 {
    background-color: #D9D9D9;
}
.Project2 .inner ul li.c4 {
    background-color: #F5F5F5;
}
.Project2 .inner ul li.c5 {
    background-color: #fff;
    border: 1px solid rgba(32, 35, 31, 0.6);
}
.Project3 .inner .color ul li.c1 {
    background-color: #2D2D2D;
}
.Project3 .inner .color ul li.c2 {
    background-color: #DDDDDD;
}
.Project3 .inner .color ul li.c3 {
    background-color: #0074E5;
}
.Project4 .inner .color ul li.c1 {
    background-color: #001B48;
}
.Project4 .inner .color ul li.c2 {
    background-color: #263D71;
}
.Project4 .inner .color ul li.c3 {
    background-color: #3B63A1;
}
.Project4 .inner .color ul li.c4 {
    background-color: #fff;
}
.Project1 .inner .link a,
.Project1 .inner .link_2 a,
.Project2 .inner .link a,
.Project3 .inner .link a,
.Project4 .inner .link a {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #20231F;
    transition: 0.5s;
}
.Project1 .inner .link a:hover,
.Project1 .inner .link_2 a:hover,
.Project2 .inner .link a:hover,
.Project3 .inner .link a:hover,
.Project4 .inner .link a:hover {
    color: #fff;
    background-color: #282119;
}
.fainal {
    background-color: #4E4C51;
}
.fainal .photo1 {
    position: absolute;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
}
.fainal .photo1.f {
    position: absolute;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    animation: rotate2 6s linear forwards;
}
.fainal .photo2 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    background-color: #E0D2B7;
    border-radius: 50px 50px 0 0;
}
@keyframes rotate2 {
    100% {transform: translate(-50%, -20%);}
}