@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual .swiper li {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 450px;
}
.visual .swiper li.bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual .swiper li.bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual .swiper li.bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual .swiper li strong {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    margin: 40vh 0 0 0;
}
.visual .swiper li h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
}
.visual .swiper li h2 br {
    display: none;
}
.visual .swiper .btn_wrap {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.visual .swiper .btn_wrap button {
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0 2px;
    font-size: 0;
    line-height: 0;
}
.visual .swiper .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .swiper .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_74_515' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_74_515)'%3E%3Cpath d='M10.7942 15.3652L15.15 12.5673C15.364 12.4314 15.471 12.2427 15.471 12.001C15.471 11.7593 15.364 11.5699 15.15 11.4327L10.7942 8.63475C10.5699 8.48092 10.3397 8.46858 10.1037 8.59775C9.86792 8.72692 9.75 8.92833 9.75 9.202V14.798C9.75 15.0717 9.86792 15.2731 10.1037 15.4022C10.3397 15.5314 10.5699 15.5191 10.7942 15.3652ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .swiper .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_74_523' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_74_523)'%3E%3Cpath d='M10.1543 15.75C10.3668 15.75 10.5448 15.6781 10.6885 15.5343C10.832 15.3906 10.9038 15.2125 10.9038 15V9C10.9038 8.7875 10.8318 8.60942 10.688 8.46575C10.5443 8.32192 10.3662 8.25 10.1535 8.25C9.941 8.25 9.76292 8.32192 9.61925 8.46575C9.47575 8.60942 9.404 8.7875 9.404 9V15C9.404 15.2125 9.47583 15.3906 9.6195 15.5343C9.76333 15.6781 9.94158 15.75 10.1543 15.75ZM13.8465 15.75C14.059 15.75 14.2371 15.6781 14.3807 15.5343C14.5243 15.3906 14.596 15.2125 14.596 15V9C14.596 8.7875 14.5242 8.60942 14.3805 8.46575C14.2367 8.32192 14.0584 8.25 13.8458 8.25C13.6333 8.25 13.4552 8.32192 13.3115 8.46575C13.168 8.60942 13.0962 8.7875 13.0962 9V15C13.0962 15.2125 13.1682 15.3906 13.312 15.5343C13.4557 15.6781 13.6338 15.75 13.8465 15.75ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.swiper-pagination-fraction,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    left: 0;
    width: auto;
    font-size: 0;
    line-height: 0;
}
.swiper-pagination {
    position: relative;
    text-align: center;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 100%;
}
.swiper-pagination-clickable .swiper-pagination-bullet-active {
    width: 45px;
    border-radius: 50px;
}
@media screen and (max-width: 1040px){
    .visual .swiper li {
        height: 500px;
    }
    .visual .swiper li strong {
        display: none;
    }
    .visual .swiper li h2 {
        font-size: 35px;
        margin-top: 220px;
    }
    .visual .swiper li h2 br {
        display: block;
    }
    .visual .swiper .btn_wrap button {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }
    .swiper-pagination-clickable .swiper-pagination-bullet-active {
        width: 30px;
    }
}
.notice h2 {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    margin: 130px 0 10px 0;
}
.notice p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}
.notice .tap_area .tap_btn ul {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid #1D60DB;
}
.notice .tap_area .tap_btn ul li span {
    display: block;
    padding: 30px 60px;
}
.notice .tap_area .tap_btn ul li.active span {
    color: #1D60DB;
    border-bottom: 3px solid #1D60DB;
}
.notice .tap_area .tap_cnt div[role="tabpanel"] {
    display: none; /*숨김*/
}
.notice .tap_area .tap_cnt div[role="tabpanel"].active {
    display: block; /*보임*/
}
.notice .tap_area .tap_cnt .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px 0 80px 0;
}
.notice .tap_area .tap_cnt .detail li {
    width: calc(50% - 50px);
    margin: 10px;
    border: 1px solid #1D60DB;
    border-radius: 30px;
}
.notice .tap_area .tap_cnt .detail li a {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 20px;
    transition: 0.3s;
}
.notice .tap_area .tap_cnt .detail li a:hover {
    color: #1D60DB;
}
.notice .tap_area .tap_cnt .detail li a strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
@media screen and (max-width: 1040px){
    .notice h2 {
        font-size: 25px;
        margin: 60px 0 10px 0;
    }
    .notice p {
        font-size: 15px;
        margin-bottom: 40px;
    }
    .notice .tap_area .tap_btn ul {
        font-size: 18px;
    }
    .notice .tap_area .tap_btn ul li span {
        padding: 10px;
    }
    .notice .tap_area .tap_btn ul li.active span {
        border-bottom: 2px solid #1D60DB;
    }
    .notice .tap_area .tap_cnt .detail {
        display: block;
        margin: 15px 0 35px 0;
    }
    .notice .tap_area .tap_cnt .detail li {
        width: 100%;
        margin: 0 0 10px 0;
        border-radius: 15px;
    }
    .notice .tap_area .tap_cnt .detail li a {
        padding: 10px 20px;
        font-size: 15px;
    }
    .notice .tap_area .tap_cnt .detail li:nth-child(5),
    .notice .tap_area .tap_cnt .detail li:nth-child(6),
    .notice .tap_area .tap_cnt .detail li:nth-child(7),
    .notice .tap_area .tap_cnt .detail li:nth-child(8) {
        display: none;
    }
}
.schedule {
    position: relative;
    background-image: url(../images/schedule_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}
.schedule .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.schedule .tit_box {
    border-radius: 30px;
    background-color: #F9F9F9;
    text-align: center;
    width: 240px;
    height: 200px;
    margin-right: 20px;
}
.schedule .tit_box strong {
    display: block;
    font-size: 35px;
    font-weight: 700;
    margin: 15px 0 5px 0;
}
.schedule .tit_box h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
}
.schedule .tit_box .more a{
    display: block;
    position: relative;
    border-top: 1px solid rgba(29, 96, 219, 0.3);
    text-align: left;
    display: block;
    padding: 24px 40px;
    color: #1D60DB;
    border-radius: 0 0 30px 30px;
    border: 1px solid #1D60DB;
    transition: 0.3s;
}
.schedule .tit_box .more a::before {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_106_87' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect x='40' y='40' width='40' height='40' transform='rotate(-180 40 40)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106_87)'%3E%3Cpath d='M29.1285 19.1665L22.9039 12.9423C22.7417 12.7798 22.6568 12.5886 22.6493 12.3686C22.6418 12.1483 22.7267 11.9464 22.9039 11.7628C23.0878 11.5789 23.286 11.4854 23.4985 11.4823C23.7113 11.479 23.9094 11.5693 24.0931 11.7532L31.3976 19.0573C31.6668 19.3268 31.8014 19.641 31.8014 19.9998C31.8014 20.3587 31.6668 20.6729 31.3976 20.9423L24.0931 28.2465C23.9306 28.409 23.7378 28.494 23.5147 28.5015C23.2914 28.509 23.0878 28.4208 22.9039 28.2369C22.7267 28.0533 22.6364 27.8568 22.6331 27.6473C22.63 27.4379 22.7203 27.2412 22.9039 27.0573L29.1285 20.8332L8.49389 20.8332C8.25667 20.8332 8.05848 20.7536 7.89931 20.5944C7.74014 20.4353 7.66056 20.2371 7.66056 19.9998C7.66056 19.7626 7.74014 19.5644 7.89931 19.4053C8.05848 19.2461 8.25667 19.1665 8.49389 19.1665L29.1285 19.1665Z' fill='%231D60DB'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.3s;
}
.schedule .tit_box .more a:hover {
    background-color: #1D60DB;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4)
}
.schedule .tit_box .more a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_106_87' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect x='40' y='40' width='40' height='40' transform='rotate(-180 40 40)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106_87)'%3E%3Cpath d='M29.1285 19.1665L22.9039 12.9423C22.7417 12.7798 22.6568 12.5886 22.6493 12.3686C22.6418 12.1483 22.7267 11.9464 22.9039 11.7628C23.0878 11.5789 23.286 11.4854 23.4985 11.4823C23.7113 11.479 23.9094 11.5693 24.0931 11.7532L31.3976 19.0573C31.6668 19.3268 31.8014 19.641 31.8014 19.9998C31.8014 20.3587 31.6668 20.6729 31.3976 20.9423L24.0931 28.2465C23.9306 28.409 23.7378 28.494 23.5147 28.5015C23.2914 28.509 23.0878 28.4208 22.9039 28.2369C22.7267 28.0533 22.6364 27.8568 22.6331 27.6473C22.63 27.4379 22.7203 27.2412 22.9039 27.0573L29.1285 20.8332L8.49389 20.8332C8.25667 20.8332 8.05848 20.7536 7.89931 20.5944C7.74014 20.4353 7.66056 20.2371 7.66056 19.9998C7.66056 19.7626 7.74014 19.5644 7.89931 19.4053C8.05848 19.2461 8.25667 19.1665 8.49389 19.1665L29.1285 19.1665Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.schedule .box_list ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    border-top: 1px solid #fff;
}
.schedule .box_list ul li {
    position: relative;
    margin: 30px 25px 0 25px;
}
.schedule .box_list ul li a {
    display: block;
}
.schedule .box_list ul li::before {
    position: absolute;
    left: 50%;
    top: -38px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1D60DB;
    border: 1px solid #fff;
    content: "";
    transition: 0.3s;
}
.schedule .box_list ul li:hover::before {
    background-color: #fff;
}
.schedule .box_list ul li strong {
    display: block;
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 10px;
}
.schedule .box_list ul li span {
    display: block;
    font-size: 20px;
    white-space: nowrap;
}
@media screen and (max-width: 1250px){
    .schedule .box_list ul li:nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 1040px){
    .schedule .tit_box {
        border-radius: 0;
        background-color: transparent;
        width: auto;
        height: auto;
        text-align: left;
        margin-right: 10px;
        color: #fff;
    }
    .schedule .tit_box strong {
        font-size: 15px;
    }
    .schedule .tit_box h2 {
        font-size: 25px;
    }
    .schedule .tit_box .more {
        border-top: 0;
    }
    .schedule .tit_box .more a::before {
        right: 15px;
        top: 8px;
        width: 20px;
        height: 20px;
    }
    .schedule .tit_box .more a {
        font-size: 13px;
        padding: 10px 70px 10px 15px;
        background-color: #fff;
        border-radius: 15px;
        white-space: nowrap;
    }
    .schedule .tit_box .more a:hover {
        background-color: #1D60DB;
        color: #fff;
    }
    .schedule .box_list ul li {
        width: auto;
        margin: 20px 25px 0 25px;
    }
    .schedule .box_list ul li::before {
        top: -26px;
        width: 10px;
        height: 10px;
    }
    .schedule .box_list ul li strong {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .schedule .box_list ul li span {
        font-size: 13px;
    }
}
@media screen and (max-width: 768px){
    .schedule .box_list ul li:nth-child(3) {
        display: none;
    }
}
@media screen and (max-width: 560px){
    .schedule .box_list ul li:nth-child(2) {
        display: none;
    }
}
.news {
    background-color: rgba(247, 247, 247, 0.8);
}
.news h2 {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    margin: 130px 0 10px 0;
}
.news p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}
.news .swiper {
    margin-bottom: 50px;
}
.news .swiper ul li {
    border: 1px solid rgba(29, 29, 29, 0.3);
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.5s;
}
.news .swiper ul li:hover {
    border-color: #1D60DB;
    transform: translateY(-20px);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
}
.news .swiper ul li a .photo {
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    transition: 0.5s;
}
.news .swiper ul li a .photo img {
    transition: 0.5s;
}
.news .swiper ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .swiper ul li strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 20px;
}
.news .controlbar {
    position: relative;
    margin: 60px 0 40px 0;
}
.news .controlbar .scroll .swiper-scrollbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 12px;
    z-index: 50;
    height: 3px;
    width: 80%;
    border-radius: 0;
    background: rgba(29, 96, 219, 0.6);
}
.news .controlbar .scroll .swiper-scrollbar-drag {
    height: 15px;
    background: #1D60DB;
    border-radius: 50px;
    top: -6px;
    cursor: pointer;
}
.news .more {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.news .more a {
    display: block;
    position: relative;
    border-top: 1px solid rgba(29, 96, 219, 0.3);
    text-align: left;
    display: block;
    width: 250px;
    padding: 24px 40px;
    color: #1D60DB;
    border-radius: 30px;
    border: 1px solid #1D60DB;
    transition: 0.3s;
}
.news .more a:hover {
    background-color: #1D60DB;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4)
}
.news .more a::before {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_106_87' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect x='40' y='40' width='40' height='40' transform='rotate(-180 40 40)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106_87)'%3E%3Cpath d='M29.1285 19.1665L22.9039 12.9423C22.7417 12.7798 22.6568 12.5886 22.6493 12.3686C22.6418 12.1483 22.7267 11.9464 22.9039 11.7628C23.0878 11.5789 23.286 11.4854 23.4985 11.4823C23.7113 11.479 23.9094 11.5693 24.0931 11.7532L31.3976 19.0573C31.6668 19.3268 31.8014 19.641 31.8014 19.9998C31.8014 20.3587 31.6668 20.6729 31.3976 20.9423L24.0931 28.2465C23.9306 28.409 23.7378 28.494 23.5147 28.5015C23.2914 28.509 23.0878 28.4208 22.9039 28.2369C22.7267 28.0533 22.6364 27.8568 22.6331 27.6473C22.63 27.4379 22.7203 27.2412 22.9039 27.0573L29.1285 20.8332L8.49389 20.8332C8.25667 20.8332 8.05848 20.7536 7.89931 20.5944C7.74014 20.4353 7.66056 20.2371 7.66056 19.9998C7.66056 19.7626 7.74014 19.5644 7.89931 19.4053C8.05848 19.2461 8.25667 19.1665 8.49389 19.1665L29.1285 19.1665Z' fill='%231D60DB'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.3s;
}
.news .more a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_106_87' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect x='40' y='40' width='40' height='40' transform='rotate(-180 40 40)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106_87)'%3E%3Cpath d='M29.1285 19.1665L22.9039 12.9423C22.7417 12.7798 22.6568 12.5886 22.6493 12.3686C22.6418 12.1483 22.7267 11.9464 22.9039 11.7628C23.0878 11.5789 23.286 11.4854 23.4985 11.4823C23.7113 11.479 23.9094 11.5693 24.0931 11.7532L31.3976 19.0573C31.6668 19.3268 31.8014 19.641 31.8014 19.9998C31.8014 20.3587 31.6668 20.6729 31.3976 20.9423L24.0931 28.2465C23.9306 28.409 23.7378 28.494 23.5147 28.5015C23.2914 28.509 23.0878 28.4208 22.9039 28.2369C22.7267 28.0533 22.6364 27.8568 22.6331 27.6473C22.63 27.4379 22.7203 27.2412 22.9039 27.0573L29.1285 20.8332L8.49389 20.8332C8.25667 20.8332 8.05848 20.7536 7.89931 20.5944C7.74014 20.4353 7.66056 20.2371 7.66056 19.9998C7.66056 19.7626 7.74014 19.5644 7.89931 19.4053C8.05848 19.2461 8.25667 19.1665 8.49389 19.1665L29.1285 19.1665Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}